<div class="container">
    <h1>Gitbook</h1>
  <div class="gitbook">
    <iframe src="https://metrocommon-2050.gitbook.io/metrocommon-2050-goals/" width="100%" height="100%" scrolling="no" frameborder="0" allowfullscreen></iframe>
  </div>

  <h1>Slides.com</h1>
  <div class="slides">
    <iframe></iframe>
    <iframe src="https://slides.com/mapc/process-details/embed" height="100%" width="100%" scrolling="no" frameborder="0"></iframe>
  </div>

  <h1>Esri Storymap</h1>
  <div class="storymap">
    <iframe></iframe>
    <iframe src="https://storymaps.esri.com/stories/heritage-fellows/" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
  </div>

  <h1>AirTable</h1>
  <div class="airtable">
    <iframe></iframe>
    <iframe src="https://airtable.com/embed/shrcGSAzVf0LXXHTn?backgroundColor=red&viewControls=on" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
  </div>

  <h1>Map Description</h1>
  <div class="map">
    <iframe></iframe>
    <p class="map__description">Chillwave cred VHS lo-fi. Iceland tumblr gentrify, umami farm-to-table cronut pabst. Bushwick glossier biodiesel ennui craft beer banjo 3 wolf moon kogi selfies 8-bit plaid street art taiyaki keffiyeh freegan. Butcher viral farm-to-table man bun disrupt hella master cleanse. Tofu subway tile air plant wolf meditation stumptown letterpress pop-up pabst seitan photo booth pickled chambray. DIY ugh subway tile salvia plaid. Meh sriracha chia plaid.</p>
    <img src="https://www.mapc.org/wp-content/uploads/2018/03/MAPC_Subregions_2017_letter_nonames-2.png" width="80%" height="80%"></img
  </div>
</div>
