<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/housing-1.jpg", alt: t("aerial view of town")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Ensure that people of all races and income levels have equal access to affordable housing through homeownership and rental opportunities in every community</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/housing-2.jpg", alt: t("structure in park")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Ensure adequate protections against displacement for communities and residents of color, low-income communities, and renters</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/housing-3.jpg", alt: t("aerial view of town")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Accelerate the production of diverse housing types throughout the region, particularly deed-restricted Affordable Housing, with a focus on transit-oriented, climate resilient and other smart growth locations</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-explore-link" href="">
    <p>Explore Policy Actions</p>
    <%= image_tag("li-marker-20px.png", alt: t("triangle marker")) %>
</a>