<a class="action-areas-recommendations__grid-container" href="/announcements/5">
    <%= image_tag("recommendations/housing-1.jpg", alt: t("A view of two houses")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Ensure that people of all races and income levels have equal access to affordable housing through homeownership and rental opportunities in every community</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/6">
    <%= image_tag("recommendations/housing-2.jpg", alt: t("A parent and child walk by a mural")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Ensure adequate protections against displacement for communities and residents of color, low-income communities, and renters</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/7">
    <%= image_tag("recommendations/housing-3.jpg", alt: t("A view of multiple houses and electrical wires outside")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Accelerate the production of diverse housing types throughout the region, particularly deed-restricted Affordable Housing, with a focus on transit-oriented, climate resilient and other smart growth locations</p>
    </div>
</a>