<a class="action-areas-recommendations__grid-container" href="/announcements/28">
    <%= image_tag("recommendations/governance-1.jpg", alt: t("Seated individuals within a forum")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Make government more participatory and inclusive</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/29">
    <%= image_tag("recommendations/governance-2.jpg", alt: t("Highway")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Improve regional coordination and partnerships for infrastructure and services</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/30">
    <%= image_tag("recommendations/governance-3.jpg", alt: t("Close up of card transaction")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Expand and improve the way we finance local and regional government</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/31">
    <%= image_tag("recommendations/governance-4.jpg", alt: t("Government employee")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Improve local government capacity and service delivery</p>
    </div>
</a>