<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/governance-1.jpg", alt: t("aerial view of town")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Make government more participatory and inclusive</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/governance-2.jpg", alt: t("structure in park")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Improve regional coordination and partnerships for infrastructure and services</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/governance-3.jpg", alt: t("aerial view of town")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Expand and improve the way we finance local and regional government</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("", alt: t("placeholder")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Improve local government capacity and service delivery</p>
    </div>
</a>