<script type="text/javascript">
  // window.addEventListener('load', () => {
  //   $('.card').mouseover(function(event) {
  //     $(this).addClass('clickable');
  //   });

  //   $('.card').mouseout(function(event) {
  //     $(this).removeClass('clickable');
  //   });

  //   $('.card').click(function(event) {
  //      window.location = $(this).find("a").attr("href");
  //   });
  // })
</script>

<div class="ActionAreas">
  <section class="v2-banner">
    <div class="action-areas-banner">
    <div class="leader-line"></div>
    <div class="container">
      <h3 class="action-areas-banner__title">What are  action areas?</h3>
      <p class="action-areas-banner__intro">Achieving the goals of MetroCommon will require focused efforts to enact change in five, interrelated topics, which we call “Action Areas”. The Action Areas describe the systemic problems we are facing and provide the context for where the recommendations seek to make change. Each Action Area includes a brief narrative that describes our understanding of the systems shaping these issues, our shared vision for the future, how it came to be this way, major challenges for reform, and where we think interventions can be successfully targeted. The plan’s recommendations are nested within the Action Areas. We also commissioned artists to creatively interpret the main ideas composing the Action Areas. </p>
    </div>
  </section>
  <div class="container">
    <div class="action-areas">
      <h1 class="action-areas__title">The Action Areas in MetroCommon are:</h1>
    </div>
    <%= render "/refinery/shared/action_areas_carousel" %>
    <div class="action-areas">
      <h1 class="action-areas__title">What was the process for determining the content within the Action Areas?</h1>
      <p class="action-areas__text">The Action Areas were informed by MAPC’s understanding of key issues facing the region, combined with years of public 
        engagement that asked questions like: what future do you want to see for Greater Boston and what is preventing us from 
        getting there? What are the key challenges and opportunities our region is facing? Where should we, collectively, focus our 
        efforts to generate meaningful change? The narratives were honed with the help of MAPC staff, the MetroCommon 2050 
        Community Engagement Advisory Committee, the MetroCommon 2050 External Advisory Committee, and hundreds of 
        participants from action area workshops spanning the summer and fall of 2020. </p>
    </div>
  </div>
</div>
