<script type="text/javascript">
  // window.addEventListener('load', () => {
  //   $('.card').mouseover(function(event) {
  //     $(this).addClass('clickable');
  //   });

  //   $('.card').mouseout(function(event) {
  //     $(this).removeClass('clickable');
  //   });

  //   $('.card').click(function(event) {
  //      window.location = $(this).find("a").attr("href");
  //   });
  // })
</script>

<div class="ActionAreas">
  <section class="v2-banner">
    <div class="action-areas-banner">
    <div class="leader-line"></div>
    <div class="container">
      <h3 class="action-areas-banner__title">What are action areas?</h3>
      <p class="action-areas-banner__intro">MetroCommon 2050 is Greater Boston’s long-term land use and policy plan. Its intent is to make our region more equitable and sustainable. To achieve this, the region will need to grapple with five systemic problems. Because these interrelated topics will require sustained action and substantive change, we’re calling them “Action Areas.”</p>
      <p class="action-areas-banner__intro">These Action Areas are so critical that we provide explanations of their workings in several forms: in overview and in accessible art pieces. Action Areas also form the organizing principle for the plan’s recommendations.</p>
    </div>
  </section>
  <div class="container">
    <div class="action-areas">
      <h1 class="action-areas__title">MetroCommon 2050 Action Areas:<br/>The Plan’s Main, Interrelated Topics</h1>
    </div>
    <%= render "/refinery/shared/action_areas_carousel" %>
    <div class="action-areas">
      <p class="action-areas__text">The Action Areas describe the systemic problems we are facing. They provide context for where and why the recommendations seek to make change. Each Action Area includes:</p>
      <ul>
        <li>A narrative that describes our understanding of the systems shaping these issues </li>
        <li>Our shared vision for the future </li>
        <li>How things came to be this way</li>
        <li>Major challenges for reform</li>
        <li>Where we think interventions can be successfully targeted </li>
      </ul>
      <h1 class="action-areas__title">What is MetroCommon 2050 and how do the Action Areas fit in?</h1>
      <p class="action-areas__text">MetroCommon 2050 is Greater Boston’s long-term plan. It’s about ways the Boston region can become more equitable, more prosperous, and more sustainable. MetroCommon is built on goals – that is, what people have told us they want. It defines Action Areas that give today’s issues context, and that reveal systems that require intervention. It goes deeply into key topics, finding insight in the trends, patterns, and idiosyncrasies of the region: research. The plan thinks through scenarios, looking at how the world and region might change, and how those changes could affect us. And it makes specific recommendations for policy changes that can get us to our goals. The part of the plan you’re looking at now is Action Areas.</p>
      <h1 class="action-areas__title">How did MAPC get input on the MetroCommon 2050 Action Areas?</h1>
      <p class="action-areas__text">Community engagement is a core practice at MAPC. So is the practice of confirming and challenging what we think we know. We “ground-truthed” every component of MetroCommon 2050 with people too often left out of planning processes to make sure the plan was worth implementing. The MetroCommon 2050 Action Areas were shared for feedback in the following ways: </p>
      <ul>
        <li>
          The Action Areas were informed by MAPC’s understanding of key issues facing the region, combined with years of public engagement that asked questions like: 
        </li>
        <li>
          <ul>
            <li>What future do you want to see for Greater Boston and what is preventing us from getting there? </li>
            <li>What are the key challenges and opportunities our region is facing?</li>
            <li>Where should we, collectively, focus our efforts to generate meaningful change?</li>
          </ul>
        </li>
        <li>
          The Action Area narratives were honed with the help of MAPC staff, the MetroCommon 2050 Community Engagement Advisory Committee, the MetroCommon 2050 External Advisory Committee, and hundreds of participants from Action Area workshops spanning the summer and fall of 2020. Participants include subject matter experts, municipal and state leaders and staff, youth, community members convened by our mini-grant partners, and interested members of the public.
        </li>
      </ul>
    </div>
  </div>
</div>
