<div class="FindOut">
  <section class="banner">
    <div class="container">
      <div class="content-column banner-content">
        <h1><%= raw @page.try(:title) %></h1>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="content-column">
      <%= raw @page.content_for(:body) %>
      <div class="phases">
        <% @page.parts.select { |part| part.slug.match?('phase') }.each do |part| %>
          <div class="phase">
            <h2><%= raw part.title %></h2>
            <%= raw @page.content_for(part.slug.to_sym) %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
