<% content_for :javascript_packs do %>
<%= javascript_pack_tag 'find-out' %>
<% end %>

<div class="FindOut">
  <section class="v2-banner">
    <div class="find-out__header">
      <div class="container">
        <form>
          <div class="find-out__filter">
            <div class='find-out__header-title-content-type'>You're looking for <span
                id="find-out__dropdown-content-type"></span></div>
            <div class='find-out__header-title-topic-area'>in <span id="find-out__dropdown-topic-area"></span></div>
          </div>
        </form>
        <div id="find-out__topic-area-narrative">
          <div class="find-out__topic-area-narrative-title">Default Topic Area title</div>
          <div class="find-out__topic-area-narrative-body">Default Topic Area narrative</div>
        </div>
      </div>
  </section>
  <div class="find-out__results">
    <p class="find-out__tagged-item">Filters showing all items.</p>
  </div>
</div>
