<% content_for :javascript_packs do %>
<%= javascript_pack_tag 'find-out' %>
<% end %>

<div class="FindOut">
  <section class="v2-banner">
    <div class="find-out__header container">
      <div class="container">
        <form>
          <div class="find-out__filter">
            <div class='find-out__filter-content-type'>You're looking for <span class="find-out__filter-content-type-dropdown"></span></div>
            <div class='find-out__filter-topic-area'>in <span class="find-out__filter-topic-area-dropdown"></span></div>
          </div>
        </form>
        <div class="find-out__topic-area">
          <div class="find-out__topic-area-narrative"></div>
        </div>
      </div>
      <div class="find-out__topic-area-results"></div>
  </section>
  <div class="find-out__results container">
    <p class="find-out__tagged-item">All topic areas</p>
  </div>
</div>
