<% content_for :javascript_packs do %>
<%= javascript_pack_tag 'find-out' %>
<% end %>

<div class="FindOut">
  <section class="v2-banner">
    <div class="find-out__header container">
    <div id="find-out__overlay"></div>
      <div class="container">
        <form>
          <div class="filter">
            <div class='filter__content-type'>You're looking for<span class="filter__content-type--dropdown"></span></div>
          </div>
          <div class="filter">
            <div class='filter__topic-area'>in<span class="filter__topic-area--dropdown"></span></div>
          </div>
          <div class="narrative-text"></div>
        </form>
      </div>
  </section>
  <div class="results container"></div>
  <div class="button__load-more">
    <a id="load-more" href="#">LOAD MORE</a>
  </div>
</div>

<div class="next3events__receive-updates-url" style="visibility: hidden"><%= CONSTANT_CONTACT_LANDING_PAGE %></div>
