<div class="Generic">
  <section class="v2-banner">
    <div class="container"></div>
  </section>
  <div class="container">
    <iframe></iframe>
    <%= render partial: 'refinery/generic/generic' %>
  </div>
</div>
