<div class="Goals">
  <section class="v2-banner">
    <div class="container"></div>
  </section>
    <iframe></iframe>
    <%= render partial: 'refinery/goals' %>
  <div class="container"></div>
</div>
