<div class="ProcessDetails">
  <section class="v2-banner">
    <div class="container"></div>
  </section>
  <div class="about-the-plan container">
    <h1 class="about-the-plan__title">About the Plan</h1>
    <div class="about-the-plan__text">
      <h2 class="about-the-plan__subtitle">Shaping the Region Together</h2>
      <p>Developing MetroCommon 2050 is was a three-year undertaking that involved multiple phases, topics, and ideas; scores of planners; dozens of external advisors; and hundreds of state and local officials. Most important, it involved thousands of people from all over Metro Boston. We are proud that this process, as it was designed to do, resulted in an actionable plan, and one that sets us up to make change for the better.</p>
      <p>On this page, you’ll find information about the process behind MetroCommon. Timelines, advisory committees, and more. It’s the structure that undergirded the process. Remember, if you have questions or comments, <a href = "mailto: MetroCommon2050@mapc.org">please let us know.</a></p>
      <div class="about-the-plan__video">
        <p>This was the video we used to kick off the MetroCommon 2050 process in 2018.</p>
        <iframe width="688" height="405" src="https://www.youtube.com/embed/bApghSqlbYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>  
  </div>
  <div class="process-details container">
    <h1 class="process-details__title">Process Timeline</h1>
    <div class="process-details__text">
      <iframe src="https://slides.com/mapc/process-details/embed" width="688" height="405" scrolling="no" frameborder="0"></iframe>
    </div>    
  </div>
  <div class="process-documents">
      <h1 class="process-documents__title">Process Documents</h1>
      <div class="cards">
        <div class="card">
        <div class="card__download"><%= link_to image_tag("download.svg"), asset_path("MC2050_Engagement_Summary.pdf") %></div>
        <div class="card__body">
            <div class="card__title">Summary of MetroCommon Engagement</div>
          </div>
        </div>
        <div class="card">
          <div class="card__download">
            <%= link_to image_tag('calendar-icon.svg'), "/find-out/events/all%20topic%20areas" %>
          </div>
          <div class="card__body">
            <div class="card__title">MetroCommon 2050 Events</div>
          </div>
        </div>
        <div class="card">
          <div class="card__download"><%= link_to image_tag("link-icon.svg"), 'https://github.com/MAPC/digitalhub/files/3762891/RPU_ResearchAgenda_Projects_Approved_20181219.docx' %></div>
          <div class="card__body">
            <div class="card__title">Related Meeting Notes</div>
          </div>
        </div>
        <div class="card">
          <div class="card__download"><%= link_to image_tag("link-icon.svg"), "https://www.youtube.com/playlist?list=PLJNLux-_ZPcINWehD4I2hSsdHQ5V-ttoU" %></div>
          <div class="card__body">
            <div class="card__title">MetroCommon Video Playlist</div>
          </div>
        </div>
      </div>
  </div>
  <div class="acknowledgements container">
    <h1 class="acknowledgements__title">Acknowledgements</h1>
    <div class="acknowledgements__text">
      <p>This plan has been the work of many contributors, but first we would like to thank the thousands of residents and workers in Greater Boston that participated and provided their thoughts on the future, ideas to explore, and comments and criticisms on the recommendations of the plan. Your contributions have made this our plan for the region.</p>
      <p class="acknowledgements__subtitle">The External Advisory Committee</p>
      <p>The External Advisory Committee (EAC) guided our work over three long years. The co-chairs, Jacqueline Furtado and Alice Brown, provided great leadership, advice, and direction throughout the planning process:</p>
      <ul class="external">
        <li>Jacinda Barbehenn</li>
        <li>Keith Bergman</li>
        <li>Stacey Beuttel</li>
        <li>Alice Brown</li>
        <li>Patricia Cahill</li>
        <li>Adam Chapdelaine</li>
        <li>Amanda Chisholm</li>
        <li>Amber Christoffersen</li>
        <li>James Errickson</li>
        <li>Nicole Freedman</li>
        <li>James Fuccione</li>
        <li>Jacqueline Furtado</li>
        <li>Monique Gibbs</li>
        <li>Erin Graves</li>
        <li>Sandra Hackman</li>
        <li>Scott Hamwey</li>
        <li>Grant Hauber</li>
        <li>Bill Henning</li>
        <li>Aaron Henry</li>
        <li>Rebecca Herst</li>
        <li>Vaughn Horn</li>
        <li>John Infranca</li>
        <li>Lisa Jacobson</li>
        <li>Kristina Johnson</li>
        <li>Wendell Joseph</li>
        <li>Taber Keally</li>
        <li>Chris Kluchman</li>
        <li>Steven Olanoff</li>
        <li>Christine Madore</li>
        <li>Anne Mcgahan</li>
        <li>Danilo Morales</li>
        <li>Jenny Raitt</li>
        <li>Marc Rudnick</li>
        <li>Sam Seidel</li>
        <li>Julie Smith Galvin</li>
        <li>Kim Szeto</li>
        <li>Natalia Urtubey</li>
        <li>David Valecillos</li>
        <li>Erin Wortman</li>
      </ul>
      <p class="acknowledgements__subtitle">The Community Engagement Advisory Committee</p>
      <p>The Community Engagement Advisory Committee pushed us to design compelling and inclusive engagement opportunities for every phase of the plan:</p>
      <ul class="engagement">
        <li>Miranda Aisling</li>
        <li>Mark Boylan</li>
        <li>Nicole Chandler</li>
        <li>MyDzung Chu</li>
        <li>Regina (Gina) Cooper Benjamin</li>
        <li>Norieliz de Jesus</li>
        <li>Lyndon DeSalvo</li>
        <li>Jay Dev</li>
        <li>Jonathan Feinberg</li>
        <li>Shani Fletcher</li>
        <li>Joshua Frank</li>
        <li>Jacqueline Furtado</li>
        <li>Monique Gibbs</li>
        <li>Millie Gonzalez</li>
        <li>Jeena Hah</li>
        <li>Kristen Handricken</li>
        <li>Marah Holland</li>
        <li>Sophia Johansson</li>
        <li>Wendell Joseph</li>
        <li>Joanne Kelly</li>
        <li>Kristiana Lachiusa</li>
        <li>Nate Lash</li>
        <li>Jake Lefker</li>
        <li>Marissa Patterson</li>
        <li>Jules Rochielle Sievert</li>
        <li>Jeremy Romanul</li>
        <li>MargieAnn Rosario</li>
        <li>Maureen White</li>
      </ul>
      <p class="acknowledgements__subtitle">The Scenario Planning Advisory Committee</p>
      <ul class="scenario">
        <li>Matthew Blackbourn</li>
        <li>Alice Brown</li>
        <li>Greg Bunn</li>
        <li>Mary Burke</li>
        <li>Amber Christoffersen</li>
        <li>Callie Clark</li>
        <li>Alan Clayton Matthews</li>
        <li>Timothy Cronin</li>
        <li>Meredith Crouse</li>
        <li>Dan Dolan</li>
        <li>Hallah Elbeleidy</li>
        <li>Daniel Engelberg</li>
        <li>Tom Hopper</li>
        <li>Sarah Jimenez</li>
        <li>Steve Koczela</li>
        <li>Rena Kottcamp</li>
        <li>David Luberoff</li>
        <li>Alexandra Markiewicz</li>
        <li>Dan McCue</li>
        <li>Mark Melnik</li>
        <li>Benjamin Miller</li>
        <li>Dan Nicolai</li>
        <li>Richard Parr</li>
        <li>Nicole Rodriguez</li>
        <li>Emily Sidla</li>
      </ul>
      <p class="acknowledgements__subtitle">MAPC Executive Leadership</p>
      <ul>
        <li>Marc Draisen, <em>Executive Director</em></li>
        <li>Rebecca Davis, <em>Deputy Director</em></li>
        <li>Erin Wortman, <em>MAPC President</em></li>
        <li>Adam Chapdelaine, <em>MAPC Vice President</em></li>
        <li>Sam Seidel, <em>MAPC Treasurer</em></li>
        <li>Sandra Hackman, <em>MAPC Secretary</em></li>
        <li>Keith Bergman, <em>MAPC Past President</em></li>
      </ul>
      <p class="acknowledgements__subtitle">MAPC Executive Committee and Council</p>
      <p class="acknowledgements__subtitle">MAPC Staff</p>
      <p>This was truly the work of the whole agency. Some staff worked on MetroCommon from start to finish, while others contributed distinct products, provided engagement and facilitation support, or contributed to the technical research and analyses that informed the plan. Thank you to the current and former staff that helped create MetroCommon.</p>
      <ul class="single-column">
        <li>MetroCommon Director: Eric Hove</li>
        <li>Project Coordinator and Events Lead: Sasha Parodi</li>
        <li>Engagement Lead: Emily Torres-Cullinane</li>
        <li>Recommendations Leads: Kasia Hart & Lizzi Weyant</li>
        <li>Technical Lead: Tim Reardon</li>
        <li>Research Lead: Jessie Partridge Guerrero</li>
        <li>Scenarios Lead: Sarah Philbrick</li>
        <li>Digital Lead: Ryan Kelly</li>
        <li>Communications Lead: Karen Adelman</li>
        <li>Evaluation Lead: Ben Faust</li>
        <li>Design Lead: Kit Un</li>
        <li>Plan Advisor: Barry Keppard</li>
        <li>Finance Lead: Sheila Wynter Downer</li>
        <li>Local and Regional Plans Reviewers: Josh Fiala & Ella Wise</li>
        <li>Scenario Planning Internal Advisory Committee: Megan Aki, Betsy Cowan, Alison Felix, Daniel Koff, Jeanette Pantoja, Jessie Partridge Guerrero, Sarah Philbrick, Tim Reardon, & Lizzi Weyant</li>
        <li>Recommendations Writers: Meg Aki, Emma Boast, Eric Bourassa, Betsy Cowan, Josh Eichen, Alison Felix, Mark Fine, Raul Gonzalez, Kasia Hart, Anne Herbst, Eric Hove, Diego Huezo, Alex Koppelman, Chris Kuschel, Sarah Lee, Brian Luther, Austin Murray, Karina Oliver-Milchman, Jeanette Pantoja, Cammy Peterson, Martin Pillsbury, Mark Racicot, Darci Schofield, Annis Sengupta, Sasha Shyduroff, Alexis Smith, Iolando Spinola, Emily Torres- Cullinane, Lizzi Weyant, & Ralph Willmer </li>
        <li>Engagement Team: Carolina Prieto, Iolando Spinola, & Christian Brandt</li>
        <li>Communications Team: Amanda Linehan & Elise Harmon</li>
        <li>Digital Team: Tarin McAdoo Comer & Kimberly Nguyen</li>
        <li>Events Team: Heidi Anderson & Patrice Faulkner</li>
        <li>Municipal Finance Team: Mark Fine, Eric Hove, Brian Luther, & the Collins Center at UMass Boston</li>
        <li>Research Team: Armin Akhavan; Betsy Cowan; Josh Eichen; Seleeke Flingai, PhD; Conor Gately, PhD; Steve Gehrke, PhD; Raúl Gonzalez; Chris Kushel; Taylor Perez; Lily Perkins-High; Guy Hydrick; Sarah Philbrick; Dominic Ridley; Sharon Ron; Caitlin Spence, PhD; Bita Sadeghinasr; Sukanya Sharma; & Saina Sheini</li>
        <li>MAPC Equity Team Leads: Raul Gonzalez & Patrice Faulkner</li>
        <li>Art Lead: Dan Koff</li>
        <li>Film Lead: Carolina Prieto</li>
        <li>Subregional Coordinators: Inner Core Committee: Karina Milchman; North Shore Task Force: Courtney Lewis; North Suburban Planning Council: Alex Koppelman; The Minuteman Advisory Group on Interlocal Coordination: Julie Curti; MetroWest Regional Collaborative: Leah Robins; SouthWest Advisory Planning Committee: Kasia Hart; Three Rivers Interlocal Council: Josh Eichen; & South Shore Coalition: Betsy Neptune Cowan</li>
        <li>Former MAPC staff: Lizzie Grobbel (Project Manager); Renato Castelo (Community Engagement); Alicia Rouault, Annabelle Taylor, & Matt Zagaja (Digital); Jenn Erickson (Arts and Culture); Darci Schofield (Environment); Rachel Marx (Events); & Joanne Lee (Evaluation)</li>
        <li>Former MAPC interns: Kayla Donovan (Land Use) & Colette Midulla (Government Affairs)</li>
        <li>Media and Copy-editing: Archipelago Strategies Group</li>
        <li>Artists contributing to the plan: Ben Batchelder, Anna Christine, Ludgy Jean-Baptiste, & Mariona Lloreta</li>
        <li>Minigrant Recipients: Union Capital Boston, Commonwealth Seminar, Teen
        Empowerment, GreenRoots, Inc., Wayside Family Services, & Wellspring Multi-
        Service Centers</li>
        <li>Workshop Partners: AVOYCE Asian Community Development Corporation,
        Boston Housing Authority, Bridge Over Troubled Waters, City of Everett, City of
        Randolph, Crossroads ACT NOW Summit, Madison Park Development Corporation,
        Massachusetts Smart Growth Alliance, No Place for Hate, & Point Neighborhood
        Association
        </li>
        <li>Design and Branding Consultant: Objective Subject</li>
        <li>Translation: UMass Amherst Translation Center & MAPA Translations</li>
      </ul>
      <p class="acknowledgements__subtitle">Funders</p>
      <p>Our sincerest thanks to the Barr and Boston Foundations for their financial support.</p>
      <p class="acknowledgements__subtitle">Process Design</p>  
      <p>Thank you to the staff and external partners that spent 9 months designing the process that would create MetroCommon 2050.</p>
      <ul class="staff">
        <li>Shirronda Almeida</li>
        <li>Antonio Amaya</li>
        <li>Celina Barrios-Millner</li>
        <li>Keith Bergman</li>
        <li>Roseann Bongiovanni</li>
        <li>Terence Burke</li>
        <li>Barbara Chandler</li>
        <li>Karilyn Crockett</li>
        <li>Meera Deean</li>
        <li>Kurt Gaertner</li>
        <li>Erin Graves</li>
        <li>Kristen Guichard</li>
        <li>Sandra Hackman</li>
        <li>Lisa Jacobson</li>
        <li>Tamika Jacques</li>
        <li>Jesse Kanson-Benanav</li>
        <li>Taber Keally</li>
        <li>Joan Lancourt</li>
        <li>Alison Leary</li>
        <li>Meridith Levy</li>
        <li>Angie Liou</li>
        <li>Tim Love</li>
        <li>Victoria Maguire</li>
        <li>Denzil Mohammed</li>
        <li>Marria Mulkeen</li>
        <li>Riahl O’Malley</li>
        <li>Boris Perlovsky</li>
        <li>Sue Price</li>
        <li>George Proakis</li>
        <li>Halley Reeves</li>
        <li>Maddie Ribble</li>
        <li>Luc Schuster</li>
        <li>Oliver Sellers-Garcia</li>
        <li>Stacy Thompson</li>
        <li>Rosario Ubiera Minaya</li>
        <li>Sarah Williams</li>
        <li>Erin Wortman </li>
      </ul>
    </div>
  </div>
</div>
