<script type="text/javascript">
  window.addEventListener('load', () => {
    $('.card').mouseover(function(event) {
      $(this).addClass('clickable');
    });

    $('.card').mouseout(function(event) {
      $(this).removeClass('clickable');
    });

    $('.card').click(function(event) {
       window.location = $(this).find("a").attr("href");
    });
  })
</script>

<div class="ProcessDetails">
  <section class="v2-banner">
    <div class="container"></div>
  </section>
  <div class="about-the-plan container">
    <h1 class="about-the-plan__title">About the Plan</h1>
    <div class="about-the-plan__text">
      <h2 class="about-the-plan__subtitle">How We’ll Shape the Region Together</h2>
      <p>MetroCommon 2050 is a two-year undertaking that involves multiple phases, topics, and ideas; scores of planners; dozens of external advisors; and hundreds of state and local officials. Most important, it involves thousands of people from all over Metro Boston. It’s a complicated project, but running it smoothly is not enough – the entire point is the result. We must end up with an actionable plan, and one that makes change for the better.</p>
      <p>On this page, you’ll find information about the process behind MetroCommon. Timelines, advisory committees, and more. It’s the structure that undergirds the process. Keep checking back: it’s here we’re telling the story of “the how” of MetroCommon. Remember, if you have questions or comments, or if you’d like to get involved, <a href = "mailto: MetroCommon2050@mapc.org">please let us know.</a> It will take many of us who live, work, and play in the region to create the future we all want. Join us!</p>
    </div>  
    <div class="about-the-plan__video">
      <iframe width="688" height="405" src="https://www.youtube.com/embed/bApghSqlbYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="process-details container">
    <h1 class="process-details__title">Process Timeline</h1>
    <iframe src="https://slides.com/mapc/process-details/embed" width="688" height="405" scrolling="no" frameborder="0"></iframe>
  </div>
  <div class="process-documents">
    <div class="container">
      <h1 class="process-documents__title">Process Documents</h1>
      <div class="cards">
        <div class="card">
          <div class="card__download"><%= link_to image_tag("download.svg"), 'https://metrocommon.mapc.org/system/refinery/resources/W1siZiIsIjIwMTkvMDkvMDQvNHI0bTAycnhhYl9NQ19WYWx1ZXN2MDdEcmFmdF8yMDE5XzAxXzMwLnBkZiJdXQ/MC%20Valuesv07Draft_2019-01-30.pdf' %></div>
          <div class="card__body">
            <div class="card__title">Regional Plan Process Design</div>
            <div class="card__subtitle">Roadmap for MetroCommon Planning Process</div>
          </div>
        </div>
        <div class="card">
          <div class="card__download"><%= link_to image_tag('calendar-icon.svg'), 'https://metrocommon.mapc.org/system/refinery/resources/W1siZiIsIjIwMTkvMDIvMDUvOHFqNnNjMTA1bl8xN19NZXRyb0NvbW1vbl9Qcm9jZXNzX0Rlc2lnbl8yMDE4LnBkZiJdXQ/17%20MetroCommon%20Process%20Design%202018.pdf' %></div>
          <div class="card__body">
            <div class="card__title">MetroCommon 2050 Events</div>
          </div>
        </div>
        <div class="card">
          <div class="card__download"><%= link_to image_tag("link-icon.svg"), 'https://github.com/MAPC/digitalhub/files/3762891/RPU_ResearchAgenda_Projects_Approved_20181219.docx' %></div>
          <div class="card__body">
            <div class="card__title">Related Meeting Notes</div>
          </div>
        </div>
        <div class="card">
          <div class="card__download"><%= link_to image_tag("link-icon.svg"), "https://mc2050.pory.app/" %></div>
          <div class="card__body">
            <div class="card__title">Process Feedback</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="acknowledgements container">
    <h1 class="acknowledgements__title">Acknowledgements</h1>
    <div class="acknowledgements__text">
      <p>This plan has been the work of many contributors, but first we would like to thank the thousands of residents and workers in Greater Boston that participated and provided their thoughts on the future, ideas to explore, and comments and criticisms on the recommendations of the plan. Your contributions have made this our plan for the region.</p>
      <p class="acknowledgements__subtitle">The External Advisory Committee</p>
      <p>The External Advisory Committee (EAC) guided our work over three long years. The co-chairs, Jacqueline Furtado and Alice Brown, provided great leadership, advice, and direction throughout the planning process:</p>  
      <ul>
        <li>Cristina Madore</li>
        <li>Jacqueline Furtado</li>
        <li>Sandra Hackman</li>
        <li>Stacey Beuttel</li>
        <li>Keith Bergman</li>
        <li>Grant Hauber</li>
        <li>Aaron Henry</li>
        <li>Scott Hamwey</li>
        <li>James Fuccione</li>
        <li>Natalia Urtubey</li>
        <li>Anne Mcgahan</li>
        <li>Bill Henning</li>
        <li>Chris Kluchman</li>
        <li>Kim Szeto</li>
        <li>James Errickson</li>
        <li>Jacinda Barbehenn</li>
        <li>David Valecillos</li>
        <li>Taber Keally</li>
        <li>Steven Olanoff</li>
        <li>Kristina Johnson</li>
        <li>Erin Wortman</li>
        <li>Lisa Jacobson</li>
        <li>Danilo Morales</li>
        <li>Sam Seidel</li>
        <li>Erin Graves</li>
        <li>Jenny Raitt</li>
        <li>Amanda Chisholm</li>
        <li>Patricia Cahill</li>
        <li>Alice Brown</li>
        <li>John Infranca</li>
        <li>Nicole Freedman</li>
        <li>Monique Gibbs</li>
        <li>Julie Smith Galvin</li>
        <li>Rebecca Herst</li>
        <li>Amber Christoffersen</li>
        <li>Wendell Joseph</li>
        <li>Adam Chapdelaine</li>
        <li>Vaughn Horn</li>
        <li>Marc Rudnick</li>
      </ul>
      <p class="acknowledgements__subtitle">The Community Engagement Advisory Committee</p>
      <p>The Community Engagement Advisory Committee pushed us to design compelling and inclusive engagement opportunities for every phase of the plan:</p>
      <ul>
        <li>Jacqueline Furtado</li>
        <li>Jake Lefker</li>
        <li>Jay Dev</li>
        <li>Jeena Hah</li>
        <li>Jeremy Romanul</li>
        <li>Joanne Kelly</li>
        <li>Jonathan Feinberg</li>
        <li>Kristen Handricken</li>
        <li>Kristiana Lachiusa</li>
        <li>MargieAnn Rosario</li>
        <li>Marissa Patterson</li>
        <li>Maureen White</li>
        <li>Miranda Aisling</li>
        <li>Monique Gibbs</li>
        <li>MyDzung Chu</li>
        <li>Nate Lash</li>
        <li>Nicole Chandler</li>
        <li>Norieliz de Jesus</li>
        <li>Regina (Gina) Cooper Benjamin</li>
        <li>Shani Fletcher</li>
        <li>Sophia Johansson</li>
        <li>Wendell Joseph</li>
        <li>Mark Boylan</li>
        <li>Millie Gonzalez</li>
        <li>Lyndon DeSalvo</li>
        <li>Marah Holland</li>
        <li>Jules Rochielle Sievert</li>
        <li>Joshua Frank</li>
      </ul>
      <p class="acknowledgements__subtitle">Scenario Planning Advisory Committee:</p>
      <ul>
        <p>External Advisory Committee Members:</p>
        <li>Alan Clayton Matthews</li>
        <li>Alice Brown</li>
        <li>Amber Christoffersen</li>
        <li>Benjamin Miller</li>
        <li>Callie Clark</li>
        <li>Dan Dolan</li>
        <li>Dan McCue</li>
        <li>Dan Nicolai</li>
        <li>Daniel Engelberg</li>
        <li>David Luberoff</li>
        <li>Emily Sidla</li>
        <li>Greg Bunn</li>
        <li>Hallah Elbeleidy</li>
        <li>Alexandra Markiewicz</li>
        <li>Mark Melnik</li>
        <li>Mary Burke</li>
        <li>Matthew Blackbourn</li>
        <li>Meredith Crouse</li>
        <li>Nicole Rodriguez</li>
        <li>Rena Kottcamp</li>
        <li>Richard Parr</li>
        <li>Sarah Jimenez</li>
        <li>Steve Koczela</li>
        <li>Timothy Cronin</li>
        <li>Tom Hopper</li>
      </ul>
      <ul>
        <p>Internal Advisory Committee Members:</p>
        <li>Alison Felix</li>
        <li>Betsy Cowan</li>
        <li>Daniel Koff</li>
        <li>Jeanette Pantoja</li>
        <li>Jessie Partridge Guerrero</li>
        <li>Lizzi Weyant</li>
        <li>Megan Aki</li>
        <li>Sarah Philbrick</li>
        <li>Tim Reardon</li>
      </ul>
      <p class="acknowledgements__subtitle">Community Partners</p>
      <p>We contracted with the following community-based organizations to vet the recommendations of the plan: </p>
      <ul>
        <li></li>
      </ul>
      <p class="acknowledgements__subtitle">MAPC Executive Leadership</p>
      <ul>
        <li>Marc Draisen, Executive Director</li>
        <li>Rebecca Davis, Deputy Director</li>
        <li>Erin Wortman, MAPC President</li>
        <li>Adam Chapdelaine, MAPC Vice President</li>
        <li>Sam Seidel, MAPC Treasurer</li>
        <li>Sandra Hackman, MAPC Secretary</li>
        <li>Keith Bergman, MAPC Past President</li>
      </ul>
      <p>The Officers also served on the EAC.</p>
      <p>MAPC’s Executive Committee and Council.</p>
      <p class="acknowledgements__subtitle">MAPC Staff</p>
      <p>This was truly the work of the whole agency. Some staff worked on MetroCommon from start to finish, while others contributed distinct products, provided engagement and facilitation support, or contributed to the technical research and analyses that informed the plan. Thank you to the current and former staff that helped create MetroCommon.</p>
      <ul>
        <li>MetroCommon Director: Eric Hove</li>
        <li>Project Coordinator and Events Lead: Sasha Parodi</li>
        <li>Engagement Lead: Emily Torres-Cullinane</li>
        <li>Recommendations Leads: Kasia Hart & Lizzi Weyant</li>
        <li>Technical Lead: Tim Reardon</li>
        <li>Research Lead: Jessie Partridge Guerrero</li>
        <li>Scenarios Lead: Sarah Philbrick</li>
        <li>Digital Lead: Ryan Kelly</li>
        <li>Communications Lead: Karen Adelman</li>
        <li>Evaluation Lead: Ben Faust</li>
        <li>Design Lead: Kit Un</li>
        <li>Plan Advisor: Barry Keppard</li>
        <li>Finance Lead: Sheila Wynter Downer</li>
        <li>Local and Regional Plans Reviewers: Josh Fiala & Ella Wise</li>
        <li>Recommendations Writers [link to list here]</li>
        <li>Engagement Team: Carolina Prieto, Iolando Spinola, and Christian Brandt</li>
        <li>Communications Team: Amanda Linehan and Elise Harmon</li>
        <li>Events Team: Heidi Anderson and Patrice Faulkner</li>
        <li>Municipal Finance Team: Mark Fine, Brian Luther, Eric Hove, and the Collins Center at UMass Boston</li>
        <li>Research Team: Conor Gately, PhD; Seleeke Flingai, PhD; Caitlin Spence, PhD; Sarah Philbrick; Josh Eichen; Chris Kushel; Sukanya Sharma; Betsy Cowan; Raúl Gonzalez; Sharon Ron; Taylor Perez; Lily Perkins-High; Armin Akhavan; Steve Gehrke, PhD; Guy Hydrick; Bita Sadeghinasr; Dominic Ridley; Saina Sheini</li>
        <li>MAPC Equity Team Leads: Raul Gonzalez and Patrice Faulkner</li>
        <li>Art Lead: Dan Koff</li>
        <li>Film Lead: Carolina Prieto</li>
        <li>Subregional Coordinators: Inner Core Committee: Karina Milchman; North Shore Task Force: Courtney Lewis; North Suburban Planning Council: Alex Koppelman; The Minuteman Advisory Group on Interlocal Coordination: Julie Curti; MetroWest Regional Collaborative: Leah Robins; SouthWest Advisory Planning Committee: Kasia Hart; Three Rivers Interlocal Council: Josh Eichen; South Shore Coalition: Betsy Neptune Cowan</li>
        <li>Former MAPC staff: Lizzie Grobbel (Project Manager); Renato Castelo (Community Engagement); Alicia Rouault, Annabelle Taylor, & Matt Zagaja (Digital), Jenn Erickson (Arts and Culture), Darci Schofield (Environment) Rachel Marx (Events), Joanne Lee (Evaluation)</li>
        <li>Former MAPC intern: Colette Midulla (Government Affairs)</li>
        <li>Media and Copy-editing: Archipelago Strategies Group</li>
        <li>Artists contributing to the plan: Mariona Lloreta, Anna Christine</li>
        <li>Minigrant Recipients: Union Capital Boston, Commonwealth Seminar, Teen Empowerment, GreenRoots, Inc., Wayside Family Services, Wellspring Multi-Service Centers</li>
        <li>Workshop Partners: AVOYCE Asian Community Development Corporation, Boston Housing Authority, Bridge Over Troubled Waters, Crossroads ACT NOW Summit, Madison Park Development Corporation, No Place for Hate, Point Neighborhood Association, City of Everett, City of Randolph</li>
        <li>Design and Branding Consultant: Objective Subject</li>
        <li>Translation: UMass Amherst Translation Center, MAPA Translations</li>
      </ul>
      <p class="acknowledgements__subtitle">Funders</p>
      <p>Our sincerest thanks to the Barr and Boston Foundations for their financial support.</p>
      <p class="acknowledgements__subtitle">Process Design</p>  
      <p>Thank you to the staff and external partners that spent 9 months designing the process that would create MetroCommon 2050. [link to lists]</p>
    </div>
  </div>
</div>
