<section class="banner">
  <%= link_to refinery.root_path, itemprop: "url" do %>
    <h1>MetroNext x 2050</h1>
  <% end %>
  <div class="center">
    <h2><%= raw @page.content_for(:tagline) %></h2>
  </div>
  <%= image_tag("mapc_logo.svg", class: "logo") %>
</section>
<section class="content">
  <%= render '/refinery/content_page' %>
</section>
