<section class="banner">
  <div class="container">
    <div class="content-column banner-content">
      <h1><%= raw @page.try(:title) %></h1>
    </div>
    <%= image_tag("mapc_logo.svg", class: "logo", alt: t('logo_alt')) %>
  </div>
</section>
<section class="content">
  <%= render '/refinery/content_page' %>
</section>
