<section class="banner">
  <div class="center">
    <h1><%= raw @page.try(:title) %></h1>
  </div>
  <%= image_tag("mapc_logo.svg", class: "logo") %>
</section>
<section class="content">
  <%= render '/refinery/content_page' %>
</section>
