<section class="announcements container">
  <div class="announcements__content">
    <div class="announcements__text">
      <div class="announcements__numbers">
      </div>
    </div>
  </div>
</section>
