<div class="announcements">
  <div class="announcements__text">
    <div class="announcements__numbers">
      <div class="announcements__number announcements__number--selected">1</div>
      <div class="announcements__number">2</div>
      <div class="announcements__number">3</div>
      <div class="announcements__number">4</div>
    </div>
    <h2 class="announcements__title">Join our Community Engagement Advisory Committee</h2>
    <p class="announcements__paragraph">We’re looking for people enthusiastic about regional planning and community engagement to join a Community Engagement Advisory Committee! Members will share best practices, plan innovative engagement techniques, test messaging, connect MAPC to key partners, and help us reach diverse populations throughout the region. Apply by March 8, 2019.</p>
    <a class="button" href="https://www.mapc.org/planning101/apply-today-metrocommon-2050-community-engagement-advisory-committee/">Learn More</a>
  </div>
  <%= image_tag("announcements.jpg", srcset: { "announcements@2x.jpg" => "2x" }, class: "announcements__image") %>
</div>
