<div class="announcements">
  <div class="announcements__text">
    <div class="announcements__numbers">
    </div>
    <!-- <a class="button" href="https://www.mapc.org/planning101/apply-today-metrocommon-2050-community-engagement-advisory-committee/">Learn More</a> -->
  </div>
</div>

