<% events = events[0..2] if events.size > 3 %>

<div class="event-box">
  <div class="event-box__header">
    <h2>Join us for <br> an event!</h2>
  </div>

  <% if events.size > 0 %>
    <ul>
      <% events.each do |event| %>
        <li>
        <h4><%= event.title %></h4>
          <div class="event-box__event-info">
            <span><%= local_time(event.start, '%b %-d, %l:%M%P') %> - <%= local_time(event.end, '%l:%M%P') %></span>
            <span><%= event.city %></span>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      No upcoming events at this time.
    </p>
  <% end %>
</div>
