<% type = nil if local_assigns[:type].nil? %>
<% image = '' if local_assigns[:image].nil? %>

<div
  class="styled-box one-box <%= 'styled-box--half' if type == 'half' %>"
  style="background-image: url('<%= image_path(image) %>')"
>
  
    <div class="styled-box__title styled-box__title--block"><%= title %></div>

</div>
