<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <p class="action-areas-sidebar__title">Artist’s Eye</p>
    <%= image_tag("art-image-equity.png", alt: t("Artwork")) %>
    <li><a class="action-areas-sidebar__link" href="">Comic by Ludgy Jean-Baptiste</a></li>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Goals</p>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/economic-security-and-prosperity">Economic Security</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/economic-prosperity">Economic Prosperity</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/thriving-arts-culture-and-heritage">Thriving Arts, Culture, and Heritage</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Research and Tools</p>
        <li><a class="action-areas-sidebar__link" href="">How We See It: Climate Mitigation & Resiliency</a></li>
        <li><a class="action-areas-sidebar__link" href="">Hidden in Plain Sight: Impacts of E-Commerce in Massachusetts</a></li>
        <li><a class="action-areas-sidebar__link" href="https://zoningatlas.mapc.org/">Zoning Atlas</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__button">
    <a href="" target="_blank">Download PDF Version</a>
</div>