.tags {
  background-color: #fcdedee7;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 1rem;
}

.tags__header-content {
  color: #111436;
  display: none;
  font-weight: bold;
}

.tags__selector-content {
  display: none;
}

.tags__header-topic {
  color: #111436;
  font-weight: bold;
}

.tags__selector-topic {
  background-color: none;
  border: 1px solid #f0efe7;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 2px;
  padding-right: 1rem;
  text-align: center;
  width: 7rem;
}

.tags__selector-topic:hover {
  background-color: #a4bbeb;
  color: #fff;
}
