<div class="media-display">
  <% if media.video.attached? %>
    <%= video_tag rails_blob_path(media.video), autoplay: 'autoplay' %>
  <% elsif media.audio.attached? %>
    <%= audio_tag rails_blob_path(media.audio), controls: 'true' %>
  <% elsif media.response.present? %>
    <%= media.response %>
  <% else %>
    Sorry, there was an error displaying the content.
  <% end %>
</div>
