<%= render "banner" %>
<section class="content StoriesPage">
  <div class="container">
    <div class="content-column">
      <h1>Editing Story</h1>

      <%= render 'form', story: @story %>
    </div>
  </div>
  <%= link_to 'Back', story_path(@story), class: 'link-button-row' %>
</section>
