html {
  overflow-x: hidden;
}
body {
  font-family: $font_family-primary;
  overflow-x: hidden;
  min-height: 100vh;
  &.menu-open {
    height: 100vh;
  }
}

h1 {
  font-size: $font_size-xlarge;
  color: $color_font-light;
  font-weight: 400;
}
h2 {
  font-size: $font_size-medium;
  color: $color_green-dark;
  font-weight: 400;
}

h3 {
  font-size: $font_size-small;
  color: $color_font-grey;
  font-weight: 400;
}

p {
  line-height: 1.5em;
  color: $color_font-grey;
}

a {
  color: $color_bg-dark;
  &.focus--keyboard {
    outline-style: solid;
    outline-color: $color_blue-medium;
    outline-width: 2px;
    outline-offset: 4px;
    background-color: $color_yellow-light;
    box-shadow: 0px 0px 0px 8px $color_yellow-light;
    color: $color_blue-medium;
  }
  &.link-button-row {
    margin: 0;
    display: block;
    width: 100%;
    background-color: $color_green-dark;
    color: $color_font-light;
    padding: 0.5em 1em;
    text-align: center;
    font-size: $font_size-large;
    text-decoration: none;

    &:nth-child(even) { background-color: $color_green-medium; }
  }
  &:hover {
    color: $color_green-light;
  }
}

address {
  font-style: normal;
}

button {
  &.focus--keyboard {
    outline-style: solid;
    outline-color: $color_blue-medium;
    outline-width: 2px;
    outline-offset: 4px;
    background-color: $color_yellow-light;
    box-shadow: 0px 0px 0px 8px $color_yellow-light;
    color: $color_blue-medium;
  }
}

button, img { outline: none; }

main {
  transition: 1.5s;
}

ul {
  padding: 0;
  list-style: none;
}

#page_container {
  transition-duration: .7s;

  &.menu-open {
    @include media(large) {
      margin-right: 0;
    }

    height: 100vh;
  }
}

.hidden-text {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1em;
  padding-left: 1px;
  overflow: hidden;
}

.container {
  margin: auto;
  max-width: 90rem;
  width: 100%;
  padding: 2rem 1.35rem;
}

.content-column {
  margin-left: calc((((100% - 6rem) / 7) * 3) + 3rem);
  margin-right: calc((((100% - 6rem) / 7) * 1) + 1rem);
  @include media(medium) {
    margin-left: 0;
    margin-right: 0;
  }
}

.event-content-column {
  margin-left: calc((((100% - 6rem) / 7) * 3) + 3rem);
  margin-right: calc((((100% - 6rem) / 7) * 0.5) + 1rem);
  @include media(medium) {
    margin-left: 0;
    margin-right: 0;
  }
}

.skip-header {
  width: 100%;
  a {
    width: calc(100% - 0.5rem);
    height: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    &:focus {
      height: max-content;
      padding: 0.25rem;
      margin: 0.5rem;
    }
  }
}

iframe {
  max-width: 100%;
}

video {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  button.thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    border: none;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      border-left: 60px solid rgba(255, 255, 255, 0.6);
      transition-duration: 0.5s;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      transform: translate(-50%, -50%);
    }
    &:hover:after {
      border-left-color: rgba(255, 255, 255, 0.9);
    }
    &.readying:after {
      border-left-color: rgba(255, 255, 255, 0);
    }
  }
}

.v2-banner {
  background-color: $color_bg-dark;
  position: relative;
  padding-top: 2em;
  color: $color_font-light;
  font-size: 20px;
  font-weight: normal;
  background: $color_bg-dark;
  background-size: 40%;

  .center {
    margin: 8rem auto 0 auto;
    width: fit-content;
  }

  p {
    color: $color_font-light;
    margin: 0;
  }

  .logo {
    width: 6rem;
    height: auto;
    position: absolute;
    right: 4.5rem;
    bottom: 2.5rem;

    @include media(small) {
      right: 1.5rem;
      bottom: 1rem;
    }
  }

  .banner-content {
    margin-top: 11rem;
    margin-bottom: 11rem;
    & > * {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    .search-form {
      margin-top: 3rem;
    }
    @include media(medium) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  &.small {
    .banner-content {
      margin-top: 6rem;
      margin-bottom: 6rem;

      @include media(medium) {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .container {
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      bottom: -25px;
      right: 6rem;
      border-top: 50px solid $color_green-light;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;

      @include media(small) {
        border-top: 25px solid $color_green-light;
        border-left: 12.5px solid transparent;
        border-right: 12.5px solid transparent;
        right: 4rem;
        bottom: -15px;
      }
    }
  }
}

.user-video {
  margin: 1rem auto;
  @include media(medium) {
    width: 100%;
  }
}

.actions {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button {
  display: inline-block;
  cursor: pointer;
  width: max-content;
  background-color: $color_green-medium;
  color: $color_font-light;
  padding: 0.5em 2.5em;
  border: 0;
  text-decoration: none;
  &:hover {
      background-color: $color_green-light;
      color: $color_font-grey;
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

  &.neutral {
    background-color: $color_bg-dark;

    &:hover { background-color: $color_green-medium; }
  }

  &.negative {
    background-color: $color_bg-grey;

    &:hover {
      color: $color_font-light;
      background-color: $color_bg-darkgrey;
    }
  }
}

#story_video + label {
    display: inline-block;
    cursor: pointer;
    margin: 1rem 0;
    width: max-content;
    background-color: $color_green-medium;
    color: $color_font-light;
    padding: 0.5em 1em;
    border: 0;
}

#story_video:focus + label,
#story_video + label:hover {
    background-color: $color_green-light;
    color: $color_font-grey;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
