body {
  font-family: $font_family-primary;
}

h1 {
  font-size: $font_size-xlarge;
  color: $color_font-light;
  font-weight: 400;
}
h2 {
  font-size: $font_size-medium;
  color: $color_green-dark;
  font-weight: 400;
}

h3 {
  font-size: $font_size-small;
  color: $color_font-grey;
  font-weight: 400;
}

p {
  line-height: 1.5em;
  color: $color_font-grey;
}

a {
  color: $color_bg-dark;
  text-decoration: none;
  &.focus--keyboard {
    outline-style: solid;
    outline-color: $color_blue-medium;
    outline-width: 2px;
    outline-offset: 4px;
    background-color: $color_yellow-light;
    box-shadow: 0px 0px 0px 8px $color_yellow-light;
    color: $color_blue-medium;
  }
}

button, img { outline: none; }

main {
  transition: 1.5s
}

ul {
  padding: 0;
  list-style: none;
}

input[type="submit"] {
  border: 0;
  background-color: white;
  color: $color_bg-dark;
  border: 0.1em solid $color_bg-dark;
}

.hidden-text {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1em;
  padding-left: 1px;
  overflow: hidden;
}

.container {
  max-width: 90rem;
  margin: auto;
  padding: 1rem;
}

.content-column {
  margin-left: 44%;
  margin-right: 18%;
}

.event-content-column {
  margin-left: 44%;
  margin-right: 10%;
}
