html {
  overflow: hidden;
}
body {
  font-family: $font_family-primary;
  overflow-x: hidden;
  min-height: 100vh;
}

h1 {
  font-size: $font_size-xlarge;
  color: $color_font-light;
  font-weight: 400;
}
h2 {
  font-size: $font_size-medium;
  color: $color_green-dark;
  font-weight: 400;
}

h3 {
  font-size: $font_size-small;
  color: $color_font-grey;
  font-weight: 400;
}

p {
  line-height: 1.5em;
  color: $color_font-grey;
}

a {
  color: $color_bg-dark;
  text-decoration: none;
  &.focus--keyboard {
    outline-style: solid;
    outline-color: $color_blue-medium;
    outline-width: 2px;
    outline-offset: 4px;
    background-color: $color_yellow-light;
    box-shadow: 0px 0px 0px 8px $color_yellow-light;
    color: $color_blue-medium;
  }
  &.link-button {
    margin: 1rem 0;
    display: block;
    width: max-content;
    background-color: $color_green-medium;
    color: $color_font-light;
    padding: 0.5em 1em;
  }
}

button, img { outline: none; }

main {
  transition: 1.5s;
}

ul {
  padding: 0;
  list-style: none;
}

input[type="submit"] {
  border: 0;
  background-color: white;
  color: $color_bg-dark;
}

#page_container {
  transition-duration: 1s;
  &.active {
    margin-right: 25rem;

    @include media(medium) {
      margin-right: 0rem;
    }
  }
}

.hidden-text {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1em;
  padding-left: 1px;
  overflow: hidden;
}

.container {
  margin: auto;
  width: 100%;
  padding: 1rem;
}

.content-column {
  margin-left: 42%;
  margin-right: 16%;
}

.event-content-column {
  margin-left: 44%;
  margin-right: 10%;
}

.skip-header {
  width: 100%;
  a {
    width: calc(100% - 0.5rem);
    height: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    &:focus {
      height: max-content;
      padding: 0.25rem;
      margin: 0.5rem;
    }
  }
}

.banner {
  background-color: $color_bg-dark;
  position: relative;
  padding-top: 2em;
  color: $color_font-light;
  font-size: 20px;
  font-weight: normal;
  background: $color_bg-dark;
  background-size: 40%;

  .center {
    margin: 8rem auto 0 auto;
    width: fit-content;
  }

  h1 {
    font-size: 1em;
    margin-left: 4em;
    font-weight: normal;
    color: inherit;
  }

  p {
    color: $color_font-light;
    margin: 0;
  }

  .logo {
    width: 6rem;
    height: auto;
    position: absolute;
    right: 4.5rem;
    bottom: 2.5rem;
  }

  .banner-content {
    margin-top: 11rem;
    margin-bottom: 11rem;
  }

  .container {
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      bottom: -25px;
      right: 6rem;
      border-top: 50px solid $color_green-light;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
    }
  }
}
