$font_size-base: 1rem;
$font_size-xsmall: .75rem;  // 12px
$font_size-small: 1rem;  // 16px
$font_size-medium: 1.25rem; // 20px
$font_size-large: 1.875rem;  // 30px

$font_family-primary: 'Georgia', serif;
$font_family-secondary: 'Arial', Helvetica, sans-serif;

$color_bg-light: #ECFFFA;
$color_bg-dark: #00332D;

$color_font-light: #FFFFFF;
