.action-areas-carousel-wrapper {
  --slide-count: 5;
  height: 27rem;
  margin: 0 auto;
  overflow: scroll;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 83rem;
}
.action-areas-carousel {
  display: flex;
  width: calc(100% * var(--slide-count));
  &-card:nth-child(1) {
    background-color: $v3-color_green-light;
  }
  &-card:nth-child(2) {
    background-color: $v3-color_blue-light;
  }
  &-card:nth-child(3) {
      background-color: $v3-color_purple-light;
  }
  &-card:nth-child(4) {
      background-color: $v3-color_red-light;
  }
  &-card:nth-child(5) {
      background-color: $v3-color_yellow-light;
  }
  &-card {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 400px;
    list-style: none;
    margin: 0 .5rem;
    object-fit: cover;
    padding: 1.5rem 1.125rem;
    scroll-snap-align: start;
    width: 250px;
    &__type {
        color: $color_font-light;
        flex-basis: 5%;
        font-family: $font_family-secondary;
        font-size: $font-size-md-large;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
    &__title {
        display: block;
        flex-basis: 25%;
        font-family: $font_family-primary;
        font-size: $font_size-large;
    }
    &__copy {
        align-items: flex-end;
        color: white;
        display: flex;
        flex-basis: 60%;
        font-family: $font_family-primary;
        font-size: $font-size-small;
        line-height: 1.25rem;
    }
    &__link {
        align-items: flex-end;
        border: solid 1px $color_bg-lightest;
        color: $color_font-light;
        display: flex;
        flex-basis: 10%;
        font-family: $font_family-secondary;
        font-size: $font-size-small;
        font-weight: 100;
        margin-top: 10px;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        width: 145px;
        &:hover {
          color: $v3-color_green-dark;
          background-color: $color_bg-lightest;
          transition: 0.4s ease-in-out;
        }
    }
  }
}