.announcements {
    $trans_duration: .25s;
    $content_trans: transform $trans_duration;
    $title_trans: opacity $trans_duration, top ($trans_duration * 1.2);

    display: flex;

    margin-top: 5rem;

    &__numbers {
        font-family: $font_family-secondary;
        border-bottom: solid 0.1rem $v3-color_gray-dark;
        color: $color_font-light;
    }

    &__number {
        display: inline-block;
        margin: 0 1rem 0 0;
        opacity: 0.3;
        cursor: pointer;

        &--selected {
            opacity: 1;
        }
    }

    &__title {
        color: $color_font-light;
    }

    &__image {
        color: $color_font-light;
        flex-shrink: 2;
        max-width: 66%;
        margin-bottom: 2rem;
        object-fit: cover;

        @include media(small) {
            max-width: 100%;
        }
    }

    &__text {
        color: $color_font-light;
        flex-shrink: 1;
        margin-right: 3rem;
        margin-bottom: 2rem;
        width: 33%;

        @include media(small) {
            width: 100%;
        }
    }

    &__paragraph {
        color: $color_font-light;
    }

    @include media(small) {
        flex-wrap: wrap;
    }
}
