.announcements {
  $trans_duration: .25s;
  $content_trans: transform $trans_duration;
  $title_trans: opacity $trans_duration, top ($trans_duration * 1.2);

  background-color: $v3-color_green-dark;

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: left;

  margin: 10.25rem auto;
  width: 69.45rem;

  h2 {
    font-size: $v3_font_size-title;
  }

  &__numbers {
    font-family: $font_family-secondary;
    border-bottom: solid 0.1rem $v3-color_gray-dark;
    color: $color_font-light;
  }

  &__number {
    display: inline-block;
    margin: 0 1rem 0 0;
    opacity: 0.3;
    background-color: $v3-color_green-dark;
    border: none;
    font-size: $v3_font_size-number;

    &--selected {
      opacity: 1;
    }
  }

  &__button {
    font-size: $v3_font_size-button;
    padding: 1rem 3.1rem;
  }

  &__title {
    color: $color_font-light;
  }

  &__image {
    color: $color_font-light;
    width: 42.3rem;
    height: 25.8rem;
    object-fit: cover;

    img {
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
    }

    @include media(medium) {
      display: none;
    }
  }

  &__text {
    color: $color_font-light;
    margin-right: 4.925rem;

    @include media(small) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__paragraph {
    color: $color_font-light;
    overflow: scroll;
    max-height: 10.95rem;
  }

  @include media(medium) {
    grid-template-columns: 1fr;
  }

  @include media(small) {
    padding: 2rem 1.5rem;
  }
}
