.announcements {
  $trans_duration: .25s;
  $content_trans: transform $trans_duration;
  $title_trans: opacity $trans_duration, top ($trans_duration * 1.2);

  background-color: $v3-color_green-dark;
  font-size: 1.25rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: left;

  padding: 8.25rem 8.3rem 3.125rem 13.875rem;

  h2 {
    font-size: 2.25rem;
  }

  &__numbers {
    font-family: $font_family-secondary;
    border-bottom: solid 0.1rem $v3-color_gray-dark;
    color: $color_font-light;
  }

  &__number {
    display: inline-block;
    margin: 0 1rem 0 0;
    opacity: 0.3;
    background-color: $v3-color_green-dark;
    border: none;

    &--selected {
      opacity: 1;
    }
  }

  &__button {
    font-size: 1.375rem;
    padding: 1.25rem 3.75rem;
    line-height: 15px;
  }

  &__title {
    color: $color_font-light;
  }

  &__image {
    color: $color_font-light;
    width: 100%;
    object-fit: cover;
    padding-right: 3.175rem;

    img {
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
    }

    @include media(medium) {
      display: none;
    }
  }

  &__text {
    color: $color_font-light;
    margin-right: 3.175rem;
    margin-bottom: 2rem;

    @include media(small) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__paragraph {
    color: $color_font-light;
    overflow: scroll;
    max-height: 32.5rem;
  }

  @include media(medium) {
    grid-template-columns: 1fr;
  }

  @include media(small) {
    padding: 2rem 1.5rem;
  }
}
