#drawer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 18rem;
  right: -18rem;
  max-width: 100%;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2rem;
  z-index: 5;
  transition-duration: .7s;
  border-left: 1px solid $color_bg-dark;

  &.menu-open {
    right: 0;
  }

  .fa-search {
    color: $color_bg-dark;
  }

  .fa-times {
    background: none;
    border: 0;
    padding: 0 1rem;
    position: absolute;
    right: 1rem;
    z-index: 5;
  }

  input[type="search"] {
    border: 0;
    border-bottom: 0.2em solid $color_bg-dark;
    width: 13em;
  }

  nav {
    a, a:hover, a:visited {
      color: $color_bg-dark;
    }

    ul {
      list-style: none;
      margin-top: 1em;
    }

    li {
      font-size: 20px;
      margin-bottom: 1em;
    }

    li ul li {
      padding: 0 0 0 1em;
      margin: 0;
      vertical-align: top;
      font-size: 1em;
      margin-bottom: 0.6em;
      margin-left: 0.8em;
      &:before {
        position: absolute;
        display: block;
        content: '';
        height: 1em;
        width: 1em;
        background: image-url('triangle_bullet.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 1em;
        margin-left: -1.8em;
      }
    }
  }
}

#drawer-toggle {
  border: none;
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  background: rgba(255,255,255,0);
  z-index: 2;

  &.focus--keyboard {
    background-color: $color_yellow-light;
    &:before {
      background: $color_blue-medium;
      box-shadow: 0 0.4em 0 $color_blue-medium, 0 0.8em 0 $color_blue-medium;
    }
  }

  &:before {
    position: absolute;
    top: 8px;
    left: 3px;
    content: '';
    display: block;
    height: 2px;
    width: 24px;
    background: #ffffff;
    box-shadow: 0 0.4em 0 #ffffff, 0 0.8em 0 #ffffff;
  }
}
