.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: $color_bg-dark;
  font-size: $font_size-xsmall;
  color: $color_font-light;
  line-height: $font_size-small;
  transition-duration: 1.5s;

  // Override normal green coloring
  a {
    color: $color_font-light;
    text-decoration: none;
    &:hover {
      color: $color_green-light;
    }
  }

  p {
    color: $color_font-light;
  }

  ul {
    li {
      margin-bottom: 0.2rem;
    }
  }

  .footer__row {
     display: flex;
     flex-basis: 100%;
     justify-content: space-between;
     padding-bottom: 1rem;
     @include media(small) {
       display: block;
     }
  }

  .footer__column {
    flex-basis: 22%;
    .button {
      text-transform: uppercase;
      font-family: "CalibreWeb-Semibold";
    }
    h2 {
      color: $color_font-light;
    }
    @include media(small) {
      margin-bottom: 1rem;
    }
  }

  .footer__column--social {
    font-size: $font_size-medium;
    a {
      padding: 0 1rem 0 0;
    }
  }

  .footer-mapc-brand {
    display: flex;
    align-items: center;
    .logo {
      width: 72px;
      height: 36px;
      margin-right: 1em;
    }
    @include media(medium) {
      display: block;
      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
