.footer {
  background-color: $color_bg-dark;
  font-size: $font_size-xsmall;
  color: $color_font-light;
  line-height: $font_size-small;
  transition-duration: 1.5s;

  & > .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: fit-content(1fr 1fr);
    justify-content: start;
    padding-bottom: 1rem;
    max-width: 100%;
    padding: 3.4rem 6rem;

    @include media(medium){
      grid-template-columns: 1fr 1fr;
      grid-template-rows: fit-content(repeat(9,1fr));
      padding: 1.55rem 1.25rem;
    }
  }

  &__section {
    address {
      margin-bottom: 1rem;
    }

    &-about{
      margin-right: 8.05rem;
      @include media(medium){
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;
        margin-right: 0;
      }
    }

    &-links{
      @include media(medium){
        grid-row: 4 / span 3;
        grid-column: 1;
      }
    }

    &-explore{
      @include media(medium){
        grid-row: 4 / span 3;
        grid-column: 2;
      }
    }

    &-contact{
      @include media(medium){
        grid-row: 7/ span 3;
        grid-column: 2;
      }
      &-web{
        @include media(medium){
          display:none;
        }
      }
    }

    &-images{
      &-logo{
        margin-right: 1em;
        width: 6.05rem;
        height: 3.35rem;

        @include media(medium){
          grid-row: 7;
          grid-column: 1;
          margin-top: 0.5rem;
          width: 3.6rem;
          height: 1.8rem;
        }

        @include media(medium) {
          display: block;
          & > *:not(:last-child) {
            margin-bottom: 0.5rem;
          }
        }
      }

      &-cta{
        grid-column: 2;
        @include media(medium){
          grid-row: 8;
          grid-column: 1;
          margin-top: 0.5rem;
        }

        .button {
          text-transform: uppercase;
          font-family: "CalibreWeb-Semibold";
        }
      }

      &-social{
        grid-column: 4;
        font-size: $font_size-medium;
        a {
          padding: 0 1rem 0 0;
        }
        @include media(medium){
          grid-row: 9;
          grid-column: 1;
          margin-top: 0.5rem;
        }
      }
    }
  }

  // Override normal green coloring
  & h2 {
    color: $color_font-light;
  }

  a {
    color: $color_font-light;
    text-decoration: none;
    &:hover {
      color: $color_green-light;
    }
  }

  p {
    color: $color_font-light;
  }

  ul {
    li {
      margin-bottom: 0.2rem;
    }
  }

  .footer__section--image{
    width: 72px;
    height:36px;
  }
}