footer {
  display: flex;
  flex-wrap: wrap;
  background-color: $color_bg-dark;
  font-size: $font_size-xsmall;
  color: $color_font-light;
  line-height: $font_size-small;
  transition-duration: 1.5s;

  // Override normal green coloring
  a {
    color: $color_font-light;
    text-decoration: none;
    &:hover {
      color: $color_green-light;
    }
  }


  ul {
    margin: 1rem 0 0 0;
    li:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }

  .link-section {
    margin: 1rem 2rem 1rem 0;
  }

  .link-category-heading {
    font-size: $font_size-medium;
  }

  .footer-top {
    display: flex;
    flex-basis: 100%;
    @include media(small) {
      display: block;
    }
  }

  .footer-bottom {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    border-top: solid white 1px;
    align-items: center;
    @include media(medium) {
      display: block;
      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .footer-about-links, .resource-links {
    flex-basis: 10em;
  }

  .other-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-mapc-brand {
    display: flex;
    align-items: center;
    .logo {
      width: 72px;
      height: 36px;
      margin-right: 1em;
    }
    @include media(medium) {
      display: block;
      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .footer-contact-information {
    & > *:not(:last-child) {
      border-right: 1px solid white;
      padding-right: 0.5rem;
    }
    & > *:not(:first-child) {
      padding-left: 0.5rem;
    }
    @include media(medium) {
      & > * {
        display: block;
      }
      & > *:not(:last-child) {
        border-right: none;
        margin-bottom: 0.5rem;
        padding-right: 0;
      }
      & > *:not(:first-child) {
        padding-left: 0;
      }
    }
  }

  .footer-right {
    a {
      margin: 0 0.4em;
      font-size: 16px;
    }
  }

  .link-category-heading {
    font-size: 16px;
    color: $color_font-light;
  }
}
