header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 100;

  h1 {
    margin: 0;
  }

  .language-disclaimer {
    color: $color_font-light;
    background-color: $color_bg-black;
    width: 100%;
    font-size: $font_size-xsmall;
    .container {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .header-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

    .header-content-right > * { display: inline-block; }

    nav { top: 4px; }

  .site-name {
    color: $color_font-light;
    display: flex;
    align-items: center;
    img.wordmark {
      height: $font_size-small;
      @include media(x-small) {
        height: $font_size-xsmall;
      }
    }
  }

  a {
    text-decoration: none;
    &.focus--keyboard .site-name {
      color: $color_blue-medium;
    }
  }
}
