#drawer-toggle {
  position: absolute;
  opacity: 0;
  right: 0;
}

#drawer-toggle-label {
  right: 0px;
  height:50px;
  width: 50px;
  display: block;
  position: fixed;
  background: rgba(255,255,255,0);
  z-index: 1;

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #8d8d8d;
    left: 13px;
    top: 18px;
    box-shadow: 0 0.4em 0 #8d8d8d, 0 0.8em 0 #8d8d8d;
  }
}

#drawer-toggle:checked ~ #drawer-toggle-label {
  right: 22em;
  z-index: 2;
  transition-duration: 1.5s;
  @include media(small) {
    left: 0em;
    right: initial;
  }
}

#drawer-toggle:checked ~ #drawer {
  right: 0px;
  z-index: 1;
  padding-left: 5em;
  transition-duration: 1.5s;
  @include media(small) {
    width: 100%;
    padding-left: 3em;
  }
}

#drawer-toggle:checked ~ #page_container {
  margin-right: 25em;
  transition-duration: 1.5s;
}

#page_container {
  transition-duration: 1.5s;
}

.HomePage {
  background-color: $color_bg-light;
  .banner {
    padding-top: 2em;
    padding-bottom: 15em;
    color: white;
    font-size: 20px;
    font-weight: normal;
    background: $color_bg-dark image-url('triangle_background.svg');
    background-size: 40%;

    .center {
      margin: 10em auto 0 auto;
      width: 25em;
    }

    .logo {
      width: 90px;
      height: 45px;
      position: absolute;
      right: 1em;
      bottom: 2em;
    }

    label[for="query"] {
      &:before {
        position: absolute;
        display: block;
        content: '';
        height: 1em;
        width: 1em;
        background: image-url('triangle_bullet_white.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 0.39em;
        margin-left: -1.2em;
      }
    }

    h1 {
      font-size: 1em;
      margin-left: 4em;
      font-weight: normal;
    }

    h2 {
      font-size: 2em;
      font-weight: normal;
    }

    input[type="submit"] {
      height: 2em;
    }

    input[type="search"] {
      height: 1.5em;
      color: black;
    }

    a, a:hover, a:visited {
      color: white;
    }

    @include media(small) {
      font-size: 12px;
    }
  }
}
