.navigation-language {
  font-size: 12px;
  list-style-type: none;
  margin-top: 0;
  min-width: 4em;
  padding-bottom: 0;
  z-index: 1;

  button {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: .5rem;
  }

  ul {
    display: none;
    left: 0;
    margin: 0;
    padding: 0 .5rem .5rem;
    position: absolute;
    top: 100%;
    width: 100%;

    li:not(:last-child) {
      margin-bottom: .25em;
    }
  }

  a, button {
    color: $color_font-light;
  }
  button.focus--keyboard, a.focus--keyboard span {
    color: $color_blue-medium;
    background-color: $color_yellow-light;
  }

  &.menu-open {
    background-color: $color_bg-light;
    ul {
      display: block;
      background-color: $color_bg-light;
      border-style: solid;
      border-color: $color_green-dark;
      border-width: 0 1px 1px 1px;
    }
    button, a {
      color: $v3-color_green-dark;
    }
    button {
      border-color: $v3-color_green-dark;
      color: $v3-color_green-dark;
    }
  }
}
