.overlay {
  @include media(small){
    grid-template-columns: .5rem 1fr 2.5rem .5rem;
  }

  background-color: $color_bg-grey;
  display: grid;
  grid-template-columns: 16.3125rem 1fr 5rem 11.3125rem;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#goals-survey {
  grid-column-end: 4;
  grid-column-start: 2;
  height: 99vh;
  top: 0;
  width: 100%;
  z-index: 3;
}

#close-survey {
  margin: 0;
  padding: 0;
}

.close-survey {
  @include media(small) {
    font-size: 3rem;
    grid-column-start: 4;
    left: 70%;
    position: fixed;
    top: 1.5rem;
  }

  background: none;
  border: 2px solid black;
  color: $v3-color_green-medium;
  cursor: pointer;
  font-size: 5rem;
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  z-index: 7;
}
