.search {
  input[type="submit"] {
    height: 2em;
  }

  input[type="search"] {
    height: 1.5em;
    color: black;
  }

  a, a:hover, a:visited {
    color: white;
  }

  @include media(small) {
    font-size: 12px;
  }
}

.search-results {
  margin-left: 40rem;
  margin-right: 16rem;
  h1, h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 4rem;
    color: $color_bg-dark;
  }
  a, a:visited {
    color: $color_bg-dark;
  }
  mark {
    background: $color_bg-light;
    color: $color_bg-dark;
  }
  p {
    margin: 0;
  }
  li {
    margin: 2rem 0;
  }
  @include media(large) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
