<main class="action-areas-carousel-wrapper">
  <ul class="action-areas-carousel">
    <li class="action-areas-carousel-card">
      <span class="action-areas-carousel-card__type">Action Area</span>
      <span class="action-areas-carousel-card__title">Inclusive Growth & Mobility</span>
      <span class="action-areas-carousel-card__copy">Chocolate cake apple pie bear claw biscuit jelly-o. Marshmallow icing jelly-o ice cream brownie candy apple pie lemon drops biscuit. </span>
      <a class="action-areas-carousel-card__link" href="javascript:void(0)">Read More</a>
    </li>
    <li class="action-areas-carousel-card">
      <span class="action-areas-carousel-card__type">Action Area</span>
      <span class="action-areas-carousel-card__title">Homes for Everyone</span>
      <span class="action-areas-carousel-card__copy">Chocolate cake apple pie bear claw biscuit jelly-o. Marshmallow icing jelly-o ice cream brownie candy apple pie lemon drops biscuit. </span>
      <a class="action-areas-carousel-card__link" href="javascript:void(0)">Read More</a>
    </li>
    <li class="action-areas-carousel-card">
      <span class="action-areas-carousel-card__type">Action Area</span>
      <span class="action-areas-carousel-card__title">Equity of Wealth & Health</span>
      <span class="action-areas-carousel-card__copy">Chocolate cake apple pie bear claw biscuit jelly-o. Marshmallow icing jelly-o ice cream brownie candy apple pie lemon drops biscuit. </span>
      <a class="action-areas-carousel-card__link" href="javascript:void(0)">Read More</a>
    </li>
    <li class="action-areas-carousel-card">
      <span class="action-areas-carousel-card__type">Action Area</span>
      <span class="action-areas-carousel-card__title">Dynamic & Representative Government</span>
      <span class="action-areas-carousel-card__copy">Chocolate cake apple pie bear claw biscuit jelly-o. Marshmallow icing jelly-o ice cream brownie candy apple pie lemon drops biscuit. </span>
      <a class="action-areas-carousel-card__link" href="javascript:void(0)">Read More</a>
    </li>
    <li class="action-areas-carousel-card">
      <span class="action-areas-carousel-card__type">Action Area</span>
      <span class="action-areas-carousel-card__title">Climate Change Adaptation & Mitigation</span>
      <span class="action-areas-carousel-card__copy">Chocolate cake apple pie bear claw biscuit jelly-o. Marshmallow icing jelly-o ice cream brownie candy apple pie lemon drops biscuit. </span>
      <a class="action-areas-carousel-card__link" href="javascript:void(0)">Read More</a>
    </li>
  </ul>
</main>