<div class="navigation-site">
    <div class="navigation-site-container container margins">
        <div class="navigation-site-content">
            <div class="navigation-site-content__col-1">
                <h4>Location</h4>
                <p>Greater Boston</p>
            </div>
            <div class="navigation-site-content__col-2">
                <h4>Focus Areas</h4>
                <p>2050</p>
            </div>
            <div class="navigation-site-content__col-3">
                <h4>Jump-To Sections</h4>
                <ul>
                    <div class="navigation-site-content__ul-col-1">
                        <li><a href="">Introduction</a></li>
                        <li><a href="">Goals and Vision</a></li>
                        <li><a href="">Action Areas</a></li>
                    </div>
                    <div class="navigation-site-content__ul-col-2">
                        <li><a href="">Planning Process</a></li>
                        <li><a href="">Research</a></li>
                        <li><a href="">Scenario Planning</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
