<nav id="navigation-language" class="navigation-language">
  <button
    aria-label="English"
    aria-expanded="false"
    aria-haspopup="true"
    onclick="toggleLanguageList()"
  >
    English <%= fa_icon 'caret-down' %>
  </button>
  <ul class="navigation-language" role="menu" aria-label="Available languages">
    <% [:English, :Português, :Español, :简体中文, :Français].each do |locale| %>
      <li>
        <%= link_to("http://www.microsofttranslator.com/bv.aspx?from=en&to=#{language(locale)}&a=#{request.original_url}") do %>
          <span><%= locale %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
