<a class="action-areas-recommendations__grid-container" href="/announcements/17">
    <%= image_tag("recommendations/growth-mobility-1.jpg", alt: t("Traffic seen in a vehicle's sideview mirror")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Reduce vehicle miles traveled and the need for single-occupant vehicle travel through increased development in transit-oriented areas and walkable centers</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/16">
    <%= image_tag("recommendations/growth-mobility-2.jpg", alt: t("Aerial view of a town")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Improve accessibility and regional connectivity</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/18">
    <%= image_tag("recommendations/growth-mobility-3.jpg", alt: t("A structure in a park")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Promote cultural development and preservation, public art and public realm design</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/19">
    <%= image_tag("recommendations/growth-mobility-4.jpg", alt: t("A wooded path")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Ensure land preservation, conservation, and access to recreational spaces</p>
    </div>
</a>