.banner {
    $self: &;

    &__content {
        z-index: 1;
        &:after {
            $size: 42.4px;

            content: '';

            position: absolute;
            bottom: -($size / 2);
            left: 0;
            display: block;

            @include triangle($size);
        }
    }
}
