.button {
    $self: &;

    min-width: 189px;
    padding: .5rem .75rem;

    color: $color_font-light;
    font-family: $font_family-secondary;
    letter-spacing: 1px;
    text-align: center;

    background: $v3-color_green-light;
    border: 1px solid $v3-color_green-light;

    text-transform: uppercase;

    &--hollow { background: none; }

    &--with-arrow {
        &:before {
            @extend ._pseudo;
            @include triangle(1rem, 'right', $v3-color_green-light);

            display: inline-block;
            top: .15rem;

            margin-right: 1rem;
        }
    }

    &:hover {
        color: $color_font-light !important;

        background: $v3-color_green-light--dark;
        border-color: $v3-color_green-light--dark;
    }
}
