.grid {
  display: grid;

  &--3-2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3.15rem;


    @include media(medium) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-rows: 4.25rem;
      grid-gap: .9rem;
    }
  }

  &__cell {
    &:before {
      @extend ._pseudo;

      // Keep 1:1 aspect ratio
      padding-bottom: 100%;
    }

    & > * {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      width: 100%;
      height: 100%;
    }

    a {
      text-decoration: none;

      & > * { height: 100%; }
    }
  }
}
