.map__container {
  $mobile-legend-height: 150px;
  @include media(small) {
    height: 333px + $mobile-legend-height;
    width: 400px;
  }

  @include media(x-small) {
    height: 250px + $mobile-legend-height;
    width: 300px;
  }
}
