.styled-box {
    $self: &;
    $trans_duration: .25s;
    $content_trans: transform $trans_duration;
    $title_trans: opacity $trans_duration, top ($trans_duration * 1.2);

    padding: 1rem;

    color: $color_font-light;

    background: $v3-color_green-lightest;
    background-size: 101%;
    background-position: center center;
    cursor: pointer;
    overflow: hidden;
    &:before {
        @extend ._pseudo;

        position: absolute;
        right: 0;
        bottom: 100%;

        width: 150%;
        height: 100vw;

        background: $v3-color_green-light;
        opacity: .5;

        transform: rotate(-18deg);
        transform-origin: 100% 100%;
        transition: $content_trans;
    }

    &__content {
        width: 75%;

        p { color: $color_font-light; }
    }

    &__title {
        display: inline-block;
        top: 2rem;
        z-index: 2;

        padding: .9375rem 1.25rem;

        font-family: $font_family-secondary;
        font-size: 1.375rem;
        letter-spacing: 1px;

        background: none;
        border: none;

        opacity: 0;
        text-transform: uppercase;
        transition: $title_trans;

        width: 14.8125rem;
        max-width: 100%;

        @include media(medium) { font-size: $font_size-small; }

        @include media(small) {
            font-size: $font_size-small;
            padding: .9375rem 0.5rem;
        }

        &--block {
            min-width: 50%;

            color: $v3-color_green-dark;

            background: $color_bg-light;
        }
    }

    &--half,
    &:hover:not(&--extended) {
        &:before {
            transform: rotate(-45deg);
            transition: $content_trans;
        }

        #{$self}__title {
            top: 0;

            opacity: 1;

            transition: $title_trans;
        }
    }

    &--extended {
      background-size: cover;
      
      #{$self}__content {
          margin: 0 auto;
          padding: 10% 0 20%;
          
          text-align: left;
          
          p {
              width: 51%;
              
              &.sub-header {
                  margin: 0;
                  
                  font-size: $font_size-large;
                  font-style: italic;
                }
            }
        }
        
        &:before {
            bottom: 98%;
            right: -10%;
            
            background: $v3-color_green-medium;
            opacity: .75;
            transform: rotate(-28deg);
            
            @include media($break_large){
                transform: rotate(-90deg);
                bottom: 100%;
                right: 0;
            }
        }
    }
}
