.styled-box {
  $self: &;
  $trans_duration: .25s;
  $content_trans: transform $trans_duration;
  $title_trans: opacity $trans_duration, top ($trans_duration * 1.2);

  background: $v3-color_green-lightest;
  background-position: center center;
  background-size: 101%;
  color: $color_font-light;
  cursor: pointer;
  overflow: hidden;
  padding: 1rem;

  &::before {
    @extend ._pseudo;
    background: $v3-color_green-light;
    bottom: 100%;
    height: 100vw;
    opacity: .5;
    position: absolute;
    right: 0;
    transform: rotate(-18deg);
    transform-origin: 100% 100%;
    transition: $content_trans;
    width: 150%;
    z-index: 1;
  }

  &__background,
  &__background-image {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &__background-image {
    opacity: 0;
    transition: opacity 2s;

    &.active {
      opacity: 1;
      transition: opacity 1.5s;
    }
  }

  &__content {
    @include media(medium) { font-size: $font_size-small; }
    @include media(small) {
      font-size: $font_size-small;
      padding: initial;
      text-align: center;
      width: initial;
    }
    color: $color_font-light;
    width: 75%;
    z-index: 2;

    .sub-header { color: $color_font-light; }
    &-paragraph { color: $color_font-light;}
  }

  &__title {
    @include media(small) { width: initial; }
    background: none;
    display: inline-block;
    font-family: $font_family-secondary;
    font-size: 1.375rem;
    letter-spacing: 1px;
    max-width: 100%;
    opacity: 0;
    padding: .9375rem 1.25rem;
    text-transform: uppercase;
    top: 2rem;
    transition: $title_trans;
    width: 14.8125rem;
    z-index: 2;

    &--block {
      @include media(small) {
        background: initial;
        color: #fff;
      }
      background: $color_bg-light;
      color: $v3-color_green-dark;
      min-width: 50%;
    }
  }

  &--half,
  &:hover:not(&--extended) {
    &:before {
      @include media(small) { transform: rotate(-90deg); }
      transform: rotate(-45deg);
      transition: $content_trans;
    }

    #{$self}__title {
      opacity: 1;
      top: 0;
      transition: $title_trans;
    }
  }

  &--extended {
    background-size: cover;

    #{$self}__content {
      margin: 0 auto;
      padding: 10% 0 20%;
      text-align: left;

      p {
        width: 51%;

        &.sub-header {
          font-size: $font_size-large;
          font-style: italic;
          margin: 0;
        }
      }
    }

    &::before {
      @include media(x-large) {
        transform: rotate(-50deg);
      }

      @include media(medium) {
        bottom: 100%;
        right: 0;
        transform: rotate(-90deg);
      }
      background: $v3-color_green-medium;
      bottom: 98%;
      opacity: .75;
      right: -10%;
      transform: rotate(-28deg);
    }
  }

  @include media(small) {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;

    &::before {
      opacity: .75;
      transform: scaleY(2) rotate(-90deg);
      transition: $content_trans;
    }

    #{$self}__title {
      opacity: 1;
      top: 0;
      transition: $title_trans;
    }
  }
}
