<!-- <div class="site-links">
  <h3>About MAPC</h3>
  <a href="">Plan Process</a>
  <a href="https://www.mapc.org/about-mapc/staff/">Staff</a>
  <a href="https://www.mapc.org/get-involved/metrofuture-our-regional-plan/">MetroFuture</a>
  <h3>Resources</h3>
  <a href="">Link 1</a>
  <a href="">Link 2</a>
  <a href="">Link 3</a>
</div> -->
<div class="footer-left">
  <p>60 Temple Pl., Boston, MA 02111</p>
  <p><a href="">617 - 451 - 2770</a></p>
  <p><a href="">hello@digitalhub.com</a></p>
</div>
<div class="footer-right">
  <p>Follow MAPC:</p>
  <a href="https://twitter.com/mapcmetroboston"><%= fa_icon "twitter" %></a>
  <a href="https://www.instagram.com/mapcmetroboston"><%= fa_icon "instagram" %></a>
  <a href="https://www.facebook.com/mapcmetroboston"><%= fa_icon "facebook" %></a>
</div>
