<div class="footer-left">
  <p>60 Temple Pl., Boston, MA 02111</p>
  <p><a href="">617 - 451 - 2770</a></p>
  <p><a href="">hello@digitalhub.com</a></p>
</div>
<div class="footer-right">
  <p>Follow MAPC:</p>
  <span class="social-logos">
  </span>
</div>
