<div class="footer-top">
  <div class="footer-about-links">
    <span class="link-category-heading">About MAPC</span>
    <ul>
      <li><a href="">Plan Process</a></li>
      <li><a href="https://www.mapc.org/about-mapc/staff/">Staff</a></li>
      <li><a href="https://www.mapc.org/get-involved/metrofuture-our-regional-plan/">MetroFuture</a></li>
    </ul>
  </div>
  <div class="resource-links">
    <span class="link-category-heading">Resources</span>
    <ul>
      <li><a href="">Link 1</a></li>
      <li><a href="">Link 2</a></li>
      <li><a href="">Link 3</a></li>
    </ul>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-mapc-brand">
    <%= image_tag("mapc_logo.svg", class: "logo") %>
    <span class="mapc">Metropolitan Area Planning Council</span>
  </div>
  <div class="footer-contact-information">
    60 Temple Pl., Boston, MA 02111 | <a href="tel:16174512770">617 - 451 - 2770</a> | <a href="mailto:hello@digitalhub.com">hello@digitalhub.com</a>
  </div>
  <div class="footer-right">
    Follow MAPC:
    <a href="https://twitter.com/mapcmetroboston"><%= fa_icon "twitter" %></a>
    <a href="https://www.instagram.com/mapcmetroboston"><%= fa_icon "instagram" %></a>
    <a href="https://www.facebook.com/mapcmetroboston"><%= fa_icon "facebook" %></a>
  </div>
</div>
