<header>
  <div class="header-content">
    <%= link_to refinery.root_path, itemprop: "url", class: "site-name" do %>
      MetroNext x 2050
    <% end %>
    <div class="header-content-right">
      <%= render "/refinery/shared/navigation_language" %>
      <input type="checkbox" id="drawer-toggle" name="drawer-toggle" onclick="toggleDrawer()" />
      <label for="drawer-toggle" id="drawer-toggle-label"></label>
    </div>
  </div>
  <%= render "/refinery/menu" -%>
</header>
