<% cache [I18n.locale, 'main_menu', @page, Refinery::Page.fast_menu.map(&:updated_at).max] do %>
  <div id="drawer" aria-labelledby="drawer-toggle" onclick="toggleDrawer()" aria-hidden="true" hidden>
    <button class="fa fa-times"><span class="hidden-text"><%= t('header.close_site_navigation') %></span></button>
    <% if Flipper.enabled?(:search) %>
      <%= render "/refinery/shared/navigation_search" %>
    <% end %>
    <%=
      main_menu = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self)
      main_menu.menu_role = 'navigation'
      main_menu.to_html
    %>
  </div>
<% end %>

<script>
  $(function(){
    // $('ul.nav').append("<li><a href='/find-out'>Find Out</a></li>")
    $('ul.nav').append("<li><a href='/stories'>Voices From the Region</a></li>")
    $('ul.nav').append("<li><a href='/process-details'>Process Details</a></li>")
    $('ul.nav').append("<li><a href='/goals'>Goals</a></li>")
  })
</script>
