<% cache [I18n.locale, 'main_menu', @page, Refinery::Page.fast_menu.map(&:updated_at).max] do %>
  <div id="drawer" aria-labelledby="drawer-toggle" aria-hidden="true" hidden>
    <button class="fa fa-times" onclick="toggleDrawer()"><span class="hidden-text">Close site navigation</span></button>
    <%= render "/refinery/shared/navigation_search" %>
    <%=
      main_menu = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self)
      main_menu.menu_role = 'navigation'
      main_menu.to_html
    %>
  </div>
<% end %>
