.partial.EventList {
  width: 100%;
  li.event-teaser {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
    a {
      position: relative;
      min-height: 3rem;
      width: 100%;
      display: block;
      border: 1px solid $color_green-dark;
      padding: 1em;
      color: $color_green-dark;
      text-decoration: none;

      &:focus, &:hover {
        border: 3px solid $color_green-dark;
        background-color: $color_green-bg;
        padding: calc(1em - 2px);
      }
      & > *:not(:last-child) {
        margin-right: 1em;
      }
      span {
        margin: 0;
      }

      .event-content-area {
        display: flex;
        align-items: center;
        padding-left: 2rem;
        &:before {
          $half-font-size: $font_size-medium / 2;
          content: ' ';
          position: absolute;
          display: block;
          border-top: $half-font-size solid transparent;
          border-bottom: $half-font-size solid transparent;
          border-left: $font_size-medium solid $color_green-light;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .event-title {
        width: 40%;
        font-size: $font_size-medium;
        line-height: $font_size-medium;
        h3 {
          font-weight: $font_weight-normal;
          font-size: $font_size-medium;
          color: $color_green-dark;
          margin: 0;
        }
      }
      .event-type {
        width: 20%;
        span {
          display: block;
          font-family: $font_family-secondary;
          font-size: $font_size-xsmall;
        }
        .event-type-label {
          margin-bottom: 0.2em;
        }
        .event-type-value {
          font-style: italic;
        }
      }

      .event-ordering-flex {
        display: flex;
        align-items: center;
        width: 40%;
      }

      .event-city, .event-start, .event-end {
        margin-right: 0.5rem;
        span {
          font-size: $font_size-small;
        }
      }

      @include media(small) {
        .event-content-area {
          display: block;
          &:before {
            top: 0;
            transform: none;
          }
        }
        .event-title, .event-city, .event-start, .event-end {
          width: 100%;
        }
        .event-type {
          display: none;
        }
        .event-ordering-flex {
          flex-direction: column;
          width: 100%;
          & > * {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
