.EventIndex {
  .splash {
    background-color: $color_bg-dark;
    position: relative;
    p {
      color: $color_font-light;
      margin: 0;
    }
    .banner-area {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }
}
