.EventShow {
  .banner {
    background: $color_bg-dark;
    @include background-2x('event-show-banner', 'jpg', auto, auto, center, no-repeat );
  }

  .banner-content {
    margin-top: 7rem;
    margin-bottom: 7.5rem;
  }

  .event-section {
    margin-bottom: 2rem;
  }

  .event-time,
  .event-location {
    margin-bottom: 1.5rem;
    p {
      margin: 0;
    }
  }

  .event-registration a {
    display: block;
    width: max-content;
    padding: 0.5em 1em;
    background-color: $color_bg-dark;
    color: $color_font-light;
    &:focus {
      outline-style: solid;
      outline-color: $color_blue-medium;
      outline-width: 2px;
      outline-offset: 4px;
    }
    &:hover {
      border: 3px solid $color_green-dark;
      background-color: $color_green-bg;
      color: $color_green-dark;
      padding: calc(0.5em - 3px) calc(1em - 3px);
    }
  }
}
