.FindOut {
  .banner {
    @include background-2x('find-out-banner', 'png', fit, fit, center, no-repeat );
    @include media(small) {
      background-position: bottom 3rem right;
    }
    background: $color_bg-dark;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
  }

  .container::after {
    display: none;
  }

  .banner-content {
    margin-bottom: 7.5rem;
    margin-top: 7rem;
  }

  .find-out__header {
    @include media(small) {
      background: none;
    }

    background-image: image-url('group-2111.png');
    height: 29.05rem;
  }

  .filter {
    @include media(small) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    display: flex;
    width: auto;

    &__content-type {
      @include media(small) {
        font-family: $font_family-primary;
        font-size: $v3_font_size-title;
      }

      color: $v3_color_bg-lightest;
      display: inline-block;
      font-family: $font_family-primary;
      font-size: $v3_font_size-h1;
      padding: 11.35rem 0 0 19.3rem;

      &--dropdown {
        appearance: none;
        background: none;
        border: 0;
        display: inline;
        text-decoration: underline;
      }
    }

    &__select--content-type {
      @include media(small) {
        font-size: $font_size-large;
      }

      appearance: none;
      border: 0;
      outline: none;
      text-decoration: underline;

      &:hover {
        color: $v3-color_green-light;
        cursor: pointer;

        &:focus {
          color: $v3_color_bg-lightest;
          cursor: pointer;
        }
      }
    }

    &__topic-area {
      @include media(small) {
        font-family: $font_family-primary;
        font-size: $v3_font_size-title;
      }

      color: $v3_color_bg-lightest;
      display: block;
      font-family: $font_family-primary;
      font-size: $v3_font_size-h1;
      margin-left: 19.3rem;
      width: auto;

      &--dropdown {
        appearance: none;
        background: none;
        border: 0;
        display: inline;
        text-decoration: underline;
      }
    }

    &__select--topic-area {
      @include media(small) {
        font-size: $font_size-large;
      }

      appearance: none;
      border: 0;
      outline: none;
      text-decoration: underline;

      &:hover {
        color: $v3-color_green-light;
        cursor: pointer;

        &:focus {
          color: $v3_color_bg-lightest;
          cursor: pointer;
        }
      }
    }
  }

  .narrative-text {
    color: $v3_color_bg-lightest;
    font-family: $font_family-primary;
    font-size: $font_size-medium;
    margin: 2rem 0 2.4rem 19.3rem;
  }

  .next3events {
    background-image: linear-gradient($v3_color_bg-lightest, $v3_color_bg-lightest);
    border: .06rem solid $v3-color_green-medium;
    height: 24rem;
    padding: 3.25rem 0 2.75rem 2.45rem;
    width: 24rem;

    &__header {
      color: $v3-color_green-light;
      display: inline;
      font-family: $font_family-primary;
      font-size: $font_size-xlarge;
      padding-bottom: 1.5rem;
    }

    &__triangle {
      @extend ._pseudo;

      @include media(medium) {
        @include triangle(1.5rem, 'right', $v3-color_green-medium);
      }

      @include triangle(3.4rem, 'right', $v3-color_green-medium);
      margin: 1.1rem 0 0 2.4rem;
    }

    &__events {
      &-event {
        cursor: pointer;
        padding-bottom: 1.7rem;

        &--title {
          color: $v3-color_green-light;
          display: block;
          font-family: $font_family-primary;
          font-size: $font_size-small;
          padding-bottom: .2rem;
        }

        &--content {
          color: $v3-color_green-light;
          display: block;
          font-size: $font_size-small;
        }
      }
    }

    &__button-receive-updates {
      width: 5rem;
    }
  }

  .results {
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    height: auto;
    padding: 3.8rem;
    top: none;

    &__message--none {
      color: $v3-color_green-medium;
      font-family: $font_family-primary;
      font-size: $font_size-large;
      margin: 0 0 14rem 18rem;
    }

    &__card {
      display: inline-block;
      height: 24rem;
      margin: 1.25rem;
      width: 24rem;

      &--image {
        height: 80%;
        margin: 0;
        object-fit: cover;
        width: 24rem;
      }

      &--content-type {
        appearance: none;
        color: $v3-color_gray-dark;
        font-family: $font_family-secondary;
        font-size: $font_size-small;
        letter-spacing: .2rem;
        text-transform: uppercase;
      }

      &--title-link {
        appearance: none;
        color: $v3-color_green-medium;
        cursor: pointer;
        font-family: $font_family-primary;
        font-size: $font_size-medium;
        text-decoration: none;
      }

      &--tags {
        color: $v3-color_gray-dark;
        font-family: $font_family-primary;
        font-size: $font_size-small;
        text-decoration: italic;
      }
    }
  }

  .button__load-more {
    left: 47%;
    margin-bottom: 2rem;

    a {
      background-color: $v3_color_bg-lightest;
      border: 2px solid $v3-color_green-medium;
      color: $v3-color_gray-dark;
      display: none;
      font-family: $font_family-secondary;
      font-weight: 50;
      letter-spacing: .2rem;
      min-width: 11.45rem;
      padding: .5rem .75rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        border: 2px solid $v3-color_green-light;
        color: $v3-color_green-light;
      }
    }
  }
}
