.HomePage {
  background-color: $v3-color_green-dark;

  .hero-banner {
    z-index: 1;

    &__arrow {
      $triangle_size: 42px;
      $image_size: 72px;

      position: absolute;
      bottom: -($image_size - ($triangle_size / 2));
      left: 0;
      right: 0;

      img {
        width: $image_size;
        margin-bottom: 12px;
        z-index: 1;
      }

      &:after {
        @extend ._pseudo;
        @include triangle($triangle_size, 'down', $v3-color_green-light);

        margin-left: ($image_size - $triangle_size) / 4;
        z-index: 1;
      }
    }

    .styled-box {

      padding: 0;
      text-align: center;
      cursor: default;
      background-image: image-url('bike-lane.jpg');

      h1 { margin: 0 0 .5rem 0; }

      &__background-image {
        position: absolute;
        top: 0;

         &:first-of-type {
          background-image: image-url('bike-lane.jpg');
        }
      }

      .hero-banner-actions {
        margin-top: 4rem;

        > * {
          font-size: $font_size-medium;
          text-decoration: none;

          + * { margin-left: .8rem; }

          @include media(medium) { margin-left: 0; }
        }
      }

      @include media(medium) {
        &__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0;
          background-image: none;

          h1 { margin: 0; }

          .sub-header {
            font-size: 17px;
            font-display: italic;
            width: 236px;
          }

          p {
            font-size: 16px;
            width: 345px;
          }

          .hero-banner-actions {
            margin: 0;
            width: 345px;
            //align-self: center;
          }

          a.button {
            height: 45px;
            margin-bottom: 1rem;
            width: 100%;
            padding-top: .7rem;
          }

          button.button {
            height: 45px;
            border: 3px solid $v3-color_green-light;
            padding: 0;
            margin: 0 0 1rem 0;
            width: 100%;
          }
        }
      }
      @media (max-width: 425px){
        .hero-banner-actions{
          align-self: center;
        }
      }
      @media (max-width: 374px){
        p, .hero-banner-actions {
          width: 275px;
        }
      }
    }
  }

  .one-box-grid {
    margin: 0 auto;
    background: $v3-color_green-dark;
    padding-bottom: 10.25rem;

    p {
      color: #ffffff;
    }

    &__content {
      width: 75%;
      margin: 0 auto;

      @include media(medium) {
        margin: 0;
        width: initial;
      }
    }

    @include media(small) {
      padding-bottom: 3.05rem;
    }
  }

  .about-plan {
    font-family: $font_family-secondary-light;
    background-color: #ffffff;

    @include media(medium) {
      margin-bottom: 4.56rem;
    }

    @include media(small) {
      padding: 0;
      margin-bottom: 4.56rem;
    }

    &__content {
      width: 75%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 3fr 3rem 1fr;
      padding: 7rem 0;

      @include media(medium) {
        margin: 0;
        width: initial;
        display: initial;
      }
    }

    &--description {
      grid-row: 1;
      grid-column: 1;

      &-title {
        font-family: $font_family-secondary-light;
        color: $v3-color_green-dark;
        font-size: 2.2rem;

        @include media(medium) {
          font-size: 2.125rem;
          padding-right: 6rem;
          width: 20rem;
        }
      }

      &-text, p{
        font-family: $font_family-secondary-light;
        color: $v3-color_green-dark;

        @include media(medium) {
          font-size: .9375rem;
        }
      }

      &__button {
        border: 1px solid $v3-color_green-dark;
        color: $color_font-light;
        font-family: $font_family-secondary;
        font-size: $v3_font_size-button;
        letter-spacing: 0.0035rem;
        margin-top: 1.4rem;
        padding: 1rem 3.1rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        width: 12.625rem;
        transition: all 0.4s ease-in-out;

        a {
          text-decoration: none;
        }

        &:hover {
          background-color: $v3-color_green-light;
          border-color: #ffffff;
          cursor: pointer;
          a {color: #ffffff;}
        }

        @include media(medium) {
          width: 9.9375rem;
          padding: 0.59rem 1.75rem;
        }
      }

    }

    &--links {
      grid-row: 1;
      grid-column: 3;
      margin: 5.2rem 0 0;

      ul > li {
        list-style: none;
        padding-left: 2em;
        padding-bottom: 0.25em;
        text-indent: -2.2em;
      }
      
      ul > li > svg {
        height: 30px;
        width: 30px;
        enable-background:new 0 0 32 32;
        .st0{display:none;}
        .st1{display:inline;}
        fill: #4fb965;
        // fill: $v3-color_green-dark;
      }

      ul > li > a {
        text-decoration: none;
        color: $v3-color_green-medium;
        text-transform: uppercase;
        font-family: $font_family-secondary-light;
        font-size: 1.25rem;
        line-height: 1.5rem;
        position: relative;
        left: 20px;
        bottom: 6px;
        &:hover {
          color: $v3-color_green-light;
        }
      }

      @include media(medium) {
        display: block;
      }
    }
  }

  .scenario-section {
    font-family: $font_family-secondary-light;
    background-color: $v3-color_green-dark;

    @include media(medium) {
      margin-bottom: 4.56rem;
    }

    @include media(small) {
      padding: 0;
      margin-bottom: 4.56rem;
    }

    &__content {
      width: 75%;
      margin: 0 auto;
      padding: 2rem 0;
      display: grid;
      grid-template-columns: 3fr 3rem 1fr;
      // grid-template-rows: auto auto;

      @include media(medium) {
        margin: 0;
        width: initial;
        display: initial;
      }
    }

    &--description {
      grid-row: 1;
      grid-column: 1;

      &-title {
        font-family: $font_family-secondary-light;
        color: #ffffff;
        font-size: 2.2rem;
        width: 50%;

        @include media(medium) {
          font-size: 2.125rem;
          padding-right: 6rem;
          width: 20rem;
        }
      }

      &-text, p {
        color: #ffffff;
        font-family: $font_family-secondary-light;

        @include media(medium) {
          font-size: .9375rem;
        }
      }

    }

    &__content-wide {
      width: 75%;
      height: 20rem;
      display: flex;
      margin: 0 auto;
      padding: 2rem 0;
      overflow: hidden;

      img {
        position: absolute;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        margin: auto;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }

      @include media(medium) {
        display: none;
      }
    }

    &__button {
      width: 12.625rem;
      position: relative;
      display: flex;
      margin: 4rem auto;
      padding: 1rem 3.1rem;
      border: 1px solid #ffffff;
      font-family: $font_family-secondary;
      font-size: $v3_font_size-button;
      letter-spacing: 0.0035rem;
      text-decoration: none;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      transition: all 0.4s ease-in-out;

      a {
        text-decoration: none;
        color: #ffffff;
      }

      &:hover {
        background-color: $v3-color_green-light;
        border-color: $v3-color_green-dark;
        cursor: pointer;
        a {color: #ffffff;}
      }

      @include media(medium) {
        width: 9.9375rem;
        padding: 0.59rem 1.75rem;
      }
    }
  }

}

