.HomePage {
  background-color: $v3-color_green-dark;

  .hero-banner {
    z-index: 1;

    &__arrow {
      $triangle_size: 42px;
      $image_size: 72px;

      position: absolute;
      bottom: -($image_size - ($triangle_size / 2));
      left: 0;
      right: 0;

      img {
        width: $image_size;
        margin-bottom: 12px;
      }

      &:after {
        @extend ._pseudo;
        @include triangle($triangle_size, 'down', $v3-color_green-light);

        margin-left: ($image_size - $triangle_size) / 4;
      }
    }

    .styled-box {
      padding: 0;

      text-align: center;

      cursor: default;
      background-image: image-url('bike-lane.jpg');
      transition: .5s ease-in-out;

      h1 { margin: 0 0 .5rem 0; }

      .hero-banner-actions {
        margin-top: 4rem;

        > * {
          font-size: $font_size-medium;
          text-decoration: none;

          + * { margin-left: .8rem; }
        }
      }

      @media (max-width: 1300px){
        &__content {
          display: grid;
          grid-template-columns: 348px;
          grid-template-rows: 65px auto auto auto auto;
          margin: 0;
          background-image: none;

          h1 {
            grid-column-start: 1;
            margin: 0;
          }

          .sub-header {
            grid-column-start: 1;
            font-size: 17px;
            font-display: italic;
            width: 236px;
          }

          p {
            grid-column-start: 1;
            font-size: 16px;
            width: 345px;
          }

          .hero-banner-actions {
            grid-column-start: 1;
            margin: 0;
          }

          a.button {
            height: 45px;
            margin-bottom: 1rem;
            width: 100%;
            padding-top: .7rem;
          }

          button.button {
            height: 45px;
            border: 3px solid $v3-color_green-light;
            // padding: 1rem 0;
            padding: 0;
            margin: 0 0 1rem 0;
            width: 100%;
          }
        }
      }
    }
  }

  .one-box-grid {
    // padding: 0 8.3rem 10.625rem 13.875rem;
    margin: 0 auto;
    background: $v3-color_green-dark;

    p {
      color: #ffffff;
    }

    &__content {
      width: 75%;
      margin: 0 auto;

      @include media(large) {
        margin: 0;
        // grid-template-columns: 100%;
        width: initial;
      }
    }
  }

  .regional-plan {
    font-family: $font_family-primary;
    background-color: #ffffff;

    @include media($break_xlarge) {
      margin-bottom: 4.56rem;
    }

    @include media($break_small) {
      padding: 0;
      margin-bottom: 4.56rem;
    }

    &__content {
      width: 75%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include media(large) {
        margin: 0;
        // grid-template-columns: 100%;
        width: initial;
      }
    }

    &--triangle {
      margin-right: 6.5rem;

      img {
        width: 31.4rem;
        height: 29.85rem;
      }

      @include media($break_xlarge){
        display: none;
      }
    }

    &--description {
      &-title {
        font-family: $font_family-primary;
        color: $v3-color_green-dark;
        font-size: 2.125rem;

        @include media($break_xlarge) {
          font-size: 2.125rem;
          padding-right: 6rem;
          width: 20rem;
        }
      }

      &-text, p{
        font-family: $font_family-primary;
        font-size: 1.25rem;
        color: $v3-color_green-dark;

        @include media($break_xlarge) {
          font-size: .9375rem;
        }
      }

      &__button {
        width: 16.3125rem;
        margin-top: 2.5rem;
        padding: .7rem 3.5rem .7rem 2.5rem;
        border: 1px solid $v3-color_green-dark;

        text-align: center;
        text-transform: uppercase;
        font-family: $font_family-secondary;
        letter-spacing: .1rem;

        color: $v3-color_green-medium;
        background-color: $v3-color_green-lightest;

        @include media($break_xlarge) {
          margin-top: 1.87rem;
          padding: .7rem 3.5rem .7rem 2.5rem;
        }

        a {
          text-decoration: none;
          font-size: 1.375rem;
        }

        &:hover {
          background-color: $color_green-medium;
          a {
            color: $v3-color_green-lightest;
          }
        }
      }
    }
  }
}
