.HomePage {
  background-color: $v3-color_green-lightest;

  .hero-banner {
    z-index: 1;

    &__arrow {
      $triangle_size: 42px;
      $image_size: 72px;

      position: absolute;
      bottom: -($image_size - ($triangle_size / 2));
      left: 0;
      right: 0;

      img {
        width: $image_size;
        margin-bottom: 12px;
      }

      &:after {
        @extend ._pseudo;
        @include triangle($triangle_size, 'down', $v3-color_green-light);

        margin-left: ($image_size - $triangle_size) / 4;
      }
    }

    .styled-box {
      padding: 0;

      text-align: center;

      cursor: default;
      background-image: image-url('bike-lane.jpg');
      transition: .5s ease-in-out;

      h1 { margin: 0 0 .5rem 0; }

      .hero-banner-actions {
        margin-top: 4rem;

        > * {
          font-size: $font_size-medium;
          text-decoration: none;

          + * { margin-left: .8rem; }
        }
      }
    }
  }

  .one-box-grid {
    padding: 0 8.3rem 10.625rem 13.875rem;
    
    background: $v3-color_green-dark;

    p {
      color: #ffffff;
    }

    @include media(small) {
      padding: 0 1rem;
    }
  }
  
  .regional-plan {
    display: grid;
    grid-template-columns: 13.875rem 38.875rem 11.06rem 39.375rem 16.875rem;
    grid-template-rows: 54.88rem;
    padding: 0;

    font-family: $font_family-primary;
    background-color: #ffffff;

    @include media($break_xsmall) {
      display: grid;
      grid-template-columns: 1.56rem 26.25rem 2.31rem;
      grid-template-rows: 39.68rem;
      padding: 0;
    }

    &--triangle {
      grid-column-start: 2;
      width: auto;
      height: auto;
      padding-top: 8.94rem;
      
      @include media($break_small){
        display: none;
      }
    }
    
    &--description {
      grid-column-start: 4;
      padding-top: 12rem;

      @include media($break_small) {
        grid-column-start: 2;
        padding-top: 3.25rem;
      }

      &-title {
        font-family: $font_family-primary;
        color: $v3-color_green-dark;
        font-size: 2.125rem;
        
        @include media($break_small) {
          font-size: 2.125rem;
          padding: 0 12rem 0 0;
        }
      }
      
      &-text, p{
        font-family: $font_family-primary;
        font-size: 1.25rem;
        color: $v3-color_green-dark;
        
        @include media($break_small) {
          padding: 0 1.85rem 1rem 0;
          font-size: .9375rem;
        }
      }

      &__button {
        width: 16.3125rem;
        margin-top: 2.5rem;
        padding: .7rem 3.5rem .7rem 2.5rem;
        border: 1px solid $v3-color_green-dark;
        
        text-align: center;
        text-transform: uppercase;
        font-family: $font_family-secondary;
        letter-spacing: .1rem;
        
        color: $v3-color_green-medium;
        background-color: $v3-color_green-lightest;
        
        @include media($break_small) {
          margin: 0;
          padding: .7rem 3.5rem .7rem 2.5rem;
        }

        a {
          text-decoration: none;
          font-size: 1.375rem;
        }

        &:hover {
          background-color: $color_green-medium;
          a {
            color: $v3-color_green-lightest;
          }
        }
      }
    }
  }
}
