.recommendation {

  &_growth-mobility {
    h2 {
      color: $v3-color_green-light;
    }
    .recommendation_header {
      &__contents li::before {
        border-color: transparent $v3-color_green-light;
      }
      &__link {
        border: solid 1px $v3-color_green-light;
      }
    }
  }

  &_housing {
    h2 {
      color: $v3-color_blue-light;
    }
    .recommendation_header {
      &__contents li::before {
        border-color: transparent $v3-color_blue-light;
      }
      &__link {
        border: solid 1px $v3-color_blue-light;
      }
    }
  }

  &_equity-wealth-health {
    h2 {
      color: $v3-color_purple-light;
    }
    .recommendation_header {
      &__contents li::before {
        border-color: transparent $v3-color_purple-light;
      }
      &__link {
        border: solid 1px $v3-color_purple-light;
      }
    }
  }

  &_governance {
    h2 {
      color: $v3-color_red-light;
    }
    .recommendation_header {
      &__contents li::before {
        border-color: transparent $v3-color_red-light;
      }
      &__link {
        border: solid 1px $v3-color_red-light;
      }
    }
  }

  &_climate {
    h2 {
      color: $v3-color_yellow-light;
    }
    .recommendation_header {
      &__contents li::before {
        border-color: transparent $v3-color_yellow-light;
      }
      &__link {
        border: solid 1px $v3-color_yellow-light;
      }
    }
  }

  &_header {
    background-color: $v3-color_beige;
    display: flex;
    font-family: $font_family-primary;
    margin: -10rem;
    padding: 3rem 15rem;

    div {
      width: 60%;
      margin-right: 0.75rem;
    }

    img {
      width: 40%;
    }

    &__section {
      text-transform: uppercase;
      font-family: $font_family-secondary;
    }

    &__title {
      color: $v3-color_green-dark;
      line-height: 2.5rem;
      margin: .5rem 0 0 0;
    }

    &__area {
      color: $v3-color_gray-dark;
      font-size: $font_size-medium;
    }

    &__contents {
      list-style-type: none;
      margin-right: 1rem;

      li {
        align-items: center;
        color: $v3-color_gray-dark;
        display: flex;
        font-size: $font_size-small;
        line-height: 1.5em;
        margin-bottom: 0.5rem;

        &::before {
          content: "";
          border-style: solid;
          border-width: 0.5em 0 0.5em 0.95em;
          display: block;
          height: 0;
          width: 0;
          left: -1em;
          position: relative;
        }
      }
    }
    &__link {
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &_body {
    margin: 15rem 5rem;
    &__strategy {
      font-size: $font_size-larger;
    }
    &__actions {
      list-style-type: none;

      li {
        font-weight: bold;
        color: $v3-color_green-dark;

        ul {
          list-style-type: none;
          li {
            color: $v3-color_gray-light;
            padding: 1rem;
          }
        }
      }
    }
    &__best {
      background-color: $color_yellow-light;
      &-title {
        color: $color_fuchsia;
      }
    }
    &__inline-footnote {
      font-size: $font_size-footnote;
    }
    &__footnotes {
      list-style: none;
      counter-reset: item;
      li {
        counter-increment: item;
      }
      li:before {
        content: counter(item);
        font-size: $font_size-footnote;
        margin-right: 5px; 
        top: 0;
      }
    }
  }
  @include media (x-small) {
    &_header {
      display: block;
      margin: 0;
      padding: 2rem 1.35rem;
      img {
        margin: 1rem 0 0;
        width: 100%;
      }
      div {
        width: 100%;
      }
      &__title {
        font-size: $font_size-large;
        line-height: 1.8rem;
        margin: 0.5rem 0;
      }
    }
    &_body {
      margin: 2rem 1.35rem;
    }
  }
}