.ReportsPage {
  // Landing Title
  h1 {
      color: $color_font-light;
      font-family: $font_family-primary; // Swift
      font-size: $font_size-xxlarge; // 60px
      margin: 0;
  }
  // Section Titles
  h2 {
    border-bottom: 4px solid $v3-color_green-dark;
    color: $v3-color_green-dark;
    display: inline-block;
    font-family: $font_family-primary;
    font-size: $font_size-xlarge; // 35px
    width: 75%;
    @include media (medium) {
      width: 100%;
    }
  }
  // Section Subtitles
  h3 {
    color: $v3-color_green-light;
    font-family: $font_family-primary;
    font-size: $font_size-large; // 24px
  }
  // Index   
  h4 {
    color: $v3-color_green-light;
    font-family: $font_family-secondary; // Calibre
    font-size: $font-size-md-large; // 20px
    margin: 0;
    text-transform: uppercase;
  }
  .margins {
    margin: 0 auto;
    width: 75%;
    @media (max-width: 425px){
      width: 100%;
    }
  }
  #reports-letter {
    align-items: center;
    animation: fade-in 3s forwards;
    display: none;
    height: 100vh;
    margin: auto;
    justify-content: center;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 100vw;
    z-index: 2;
    @keyframes fade-in {
      0% {opacity: 0;}
      60% {opacity: 0;}
      100% {opacity: 1;}
    }
    h1 {
      color: $v3-color_green-dark;
      font-size: $font_size-xlarge;
    }
    &-close {
      cursor: pointer;
      font-family: $font_family-secondary-light;
      font-size: $font_size-larger;
      margin: 14vh 14vw;
      max-height: 80vh;
      max-width: 80vw;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
    }
    &-text {
      background-color: $color_bg-lightest;
      box-shadow: 5px 5px 20px 10px #00000060;
      max-height: 85vh;
      max-width: 80vw;
      -ms-overflow-style: none;
      overflow-y: scroll;
      padding: 6rem 8rem;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      &-header {
        h1, h4 {
          margin-bottom: 0.6rem;
        }
        p {
          margin: 0 0 4rem;
        }
      }
    }
    @include media (small) {
      &-close {
        margin: 5.5rem 4.5rem;
      }
      &-text {
        padding: 4rem 1rem;
      }
    }
  }
  .reports-hero {
    background-color: $v3-color_green-dark;
    &-container {
      background-image: image-url('arrow-map.svg');
      background-position-x: right;
      background-repeat: no-repeat;
      height: auto;
      min-height: 90vh;
    }
    &-content {
      padding: 7rem 0;
      h3, p {
        color: $color_font-light;
      }
      &__header {
        display: flex;
        flex-direction: column;
      }
      &__body {
        margin: 0 auto;
        width: 75%;
        p {
          width: 50%;
        }
      } 
    }
    @include media (medium) {
      h1 {
        font-size: $font_size-xlarge;
      }
      h3 {
        font-size: $font_size-medium;
      }
      &-content {
        min-height: 34rem;
        padding: 2rem 1.35rem;
        &__header {
          justify-content: center;
          min-height: 30rem;
        }
        &__body {
          margin: 0;
          padding-bottom: 4rem;
          width: 100%;
          p {
            width: 100%;
          }
        }
      }
    }
  }
  // MAPC logo and triangle section break
  .hero-banner {
    z-index: 1;
    &__arrow {
      $image_size: 72px;
      $triangle_size: 42px;
      bottom: -($image_size - ($triangle_size / 2));
      left: 0;
      position: absolute;
      right: 0; 
      img {
        margin-bottom: 12px;
        width: $image_size;
        z-index: 1;
      }
      &:after {
        margin-left: ($image_size - $triangle_size) / 4;
        z-index: 1;
        @extend ._pseudo;
        @include triangle($triangle_size, 'down', $v3-color_green-light);
      }
    }
  }
  .reports-content{
    &-goals {
      &-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      &-card {
        margin: 0.3125rem;
        min-height: 269px;
        padding: 0.625rem;
        flex-basis: 18%;
        flex-grow: 1;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        img {
          width: 100%;
        }
        h5 {
          font-size: $font-size-small;
          margin-bottom: 0;
        }
        p {
          font-size: $font_size-xsmall;
          line-height: 0.9rem;
        }
        &-red {
          background-color: $color_red-lightest;
          h5 {
            color: $v3-color_red-light;
          }
        }
        &-yellow {
          background-color: $color_yellow-light;
          h5 {
            color: $v3-color_yellow-light;
          }
        }
        &-green {
          background-color: $color_green-lightest;
          h5 {
            color: $v3-color_green-light;
          }
        }
        &-blue {
          background-color: $color_blue-lightest;
          h5 {
            color: $v3-color_blue-light;
          }
        }
        &-purple {
          background-color: $color_purple-lightest;
          h5 {
            color: $v3-color_purple-light;
          }
        }
      }
    }
    a.reports-content-goals-card-red:hover {
      background-color: $v3-color_red-light;
      * {color: white;}
    }
    a.reports-content-goals-card-yellow:hover {
      background-color: $v3-color_yellow-light;
      * {color: white;}
    }
    a.reports-content-goals-card-green:hover {
      background-color:  $v3-color_green-light;
      * {color: white;}
    }
    a.reports-content-goals-card-blue:hover {
      background-color: $v3-color_blue-light;
      * {color: white;}
    }
    a.reports-content-goals-card-purple:hover {
      background-color: $v3-color_purple-light;
      * {color: white;}
    }
    &-action-areas-nesting-viz {
      img {
        top: 0.25rem;
      }
      h4 {
        padding: 0.2rem 0;
      }
    }
    &-action-areas-carousel {
      display: none;
    }
    @include media (medium) {
      &-goals-card {
        flex-basis: 40%;
      }
      &-action-areas-carousel {
        display: block;
      }
    }
  }

  #equity-letter {
    align-items: center;
    display: none;
    height: 100vh;
    margin: auto;
    justify-content: center;
    position: absolute;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    h1 {
      color: $v3-color_green-dark;
      font-size: $font_size-xlarge;
    }
    &-show:hover {
      cursor: pointer;
    }
    &-close {
      cursor: pointer;
      font-family: $font_family-secondary-light;
      font-size: $font_size-larger;
      margin: 1.5rem 2rem;
      max-height: 80vh;
      max-width: 80vw;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
    &-text {
      background-color: $color_bg-lightest;
      box-shadow: 5px 5px 20px 10px #00000040;
      max-height: 80vh;
      max-width: 80vw;
      overflow: scroll;
      padding: 6rem 8rem;
      &-header {
        h1, h4 {
          margin-bottom: 0.6rem;
        }
        p {
          margin: 0 0 4rem;
        }
      }
    }
    @include media (medium) {
      &-text {
        padding: 1rem;
      }
    }
  }

  .statement-on-equity {
    @include media (large) {
      margin: 2rem 9rem 1rem;
      width: 45rem;
    }
    @include media (medium) {
      margin: 2rem 6rem 1rem;
      width: 25rem;
    }
    @include media (x-small) {
      margin: 0 1rem 1rem;
      width: 22rem;
    }
    margin: 2rem 13.5rem 0;
    padding: 1rem;
    width: 47rem;

    &__title {
      @include media (x-small) {font-size: $font_size-large;}
      color: $v3-color_green-dark;
      font-family: $font_family-primary;
    }

    &__subtitle {
      color: $v3-color_green-light;
    }

    &__text {
      margin-left: 3rem;
      a {
        color: $v3-color_green-light;
        text-decoration: none;
        &:hover {
          color: $v3-color_green-dark;
          text-decoration: underline;
        }
      }
    }

    &__inline-footnote {
      font-size: $font_size-footnote;
    }

    &__footnotes {
      counter-reset: item;
      list-style: none;
      li {
        counter-increment: item;
        line-height: 1.5rem;
      }
      li:before {
        content: counter(item);
        font-size: $font_size-footnote;
        margin-right: 5px; 
        top: 0;
      }
    }
  }
}