.Report {
  background-color: $v3_color_bg-lightest;

  .report {
    .v2-banner {
      padding-bottom: 2rem;
    }
  }

  .container {
    @include media(small) {
      display: grid;
      margin: 0;
      padding: 0;
    }

    max-width: 60rem;

    .content__content-type {
      @include media(small) {
        grid-row: 2;
        margin-top: 1rem;
        padding: 1rem 1.35rem 0;
      }

      appearance: none;
      color: $v3-color_gray-dark;
      font-family: $font_family-secondary;
      font-size: $font_size-small;
      grid-row-start: 1;
      letter-spacing: 0.2rem;
      padding: 1rem 0 0;
      text-transform: uppercase;
    }

    .content__date {
      @include media(small) {
        grid-row: 4;
        padding: 1rem 1.35rem 0;
      }

      appearance: none;
      color: $v3-color_gray-dark;
      font-family: $font_family-secondary-light;
      font-size: $font_size-small;
      padding: 1rem 0 0;
    }

    .content__title {
      @include media(small) {
        grid-row: 3;
        padding: 0.5rem 1.35rem 0;
      }

      color: $v3-color_green-medium;
      font-family: $font_family-primary;
      font-size: $font_size-xlarge;
      padding: 0.5rem 0 0;
    }

    .content__tags {
      @include media(small) {
        grid-row: 5;
        padding: 0.5rem 1.35rem 0;
      }

      color: $color_bg-darkgrey;
      font-family: $font_family-primary;
      font-size: $font_size-small;
      font-style: italic;
      padding: 0.5rem 0;
    }

    .content__body {
      @include media(small) {
        grid-row: 6;
        margin-bottom: 1rem;
        min-height: unset;
        padding: 0.5rem 1.35rem 1rem;
      }

      color: $v3-color_gray-dark;
      font-size: $font_size-small;
      line-height: 1.5rem;
      min-height: 27.85rem;
      padding: 0.5rem 0 1rem;
    }

    .image__wrapper {
      @include mobile-image-wrapper;
      float: right;
      margin: 0 0 .6rem .8rem;
    }

    .content__image {
      @include mobile-image;
    }

    .content__image-credit {
      color: $color_bg-darkgrey;
      font-family: $font_family-primary;
      font-size: $font_size-small;
      font-style: italic;
      padding: .5rem 0;
      text-align: center;
    }
  }
}
