.StoriesPage {

  a.button { text-decoration: none; }

  .content-column {
    & + .content-column { margin-top: 60px; }
  }

  .story {
    padding: 20px 0;


    & + .story { border-top: 1px solid $color_bg-light; }
  }

  .story-meta {
    margin-bottom: $font_size-base;

    color: $color_green-dark;
    font-style: italic;
    font-size: $font_size-xsmall;
  }

  .quote-mark {
    display: inline-block;
    top: 8px;
    height: 0;

    color: $color_green-dark;
    font-size: $font_size-large;
    font-weight: 700;
  }

}
