.StoriesPage {

  .banner {
    background: $color_bg-dark;
    height: 80px;
    width: 100%;
  }

  #page_container {
    margin: 0;
    padding: 0;
  }

  .weigh-in__header-background {
    @include media(small) {
      background: none;
    }

    background-color: $color_bg-lightest;
    background-image: url('group-2111.png');
  }

  .weigh-in__header {
    @include media(medium) {
      grid-template-columns: 1fr 40rem 1fr;
      grid-template-rows: 1fr 24rem 1fr;
    }

    @include media(small) {
      grid-template-columns: 1fr 22rem 1fr;
      grid-template-rows: 3rem 1fr 1.5rem;
      height: 25.05rem;
      margin-bottom: 6rem;
    }

    display: grid;
    grid-template-columns: 1fr 54rem 1fr;
    grid-template-rows: 1fr 15.5rem 1fr;
    height: 29.3rem;

    &--content {
      grid-column-start: 2;
      grid-row-start: 2;
    }

    &--title {
      @include media(small) {
        font-size: $v3_font_size-title;
      }

      color: $v3-color_black-dark;
      font-size: $v3_font_size-h1;
    }

    &--text {
      @include media(small) {
        font-size: $font_size-small;
      }

      color: $v3-color_black-dark;
      font-family: $font_family-primary;
      font-size: $font_size_medium;
    }
  }

  input[type='submit'] {
    background: $color_bg-lightest;
    border: 1px solid $color_green-dark;
    color: $color_green-dark;
  }

  a {
    .button {
      text-decoration: none;
    }
  }

  .audio-response,
  .video-response {
    display: inline-block;
    vertical-align: top;
  }

  .audio-buttons {
    display: inline-block;
  }

  .banner-content {
    margin-bottom: 7.5rem;
    margin-top: 7rem;
  }

  .content-column {
    &+.content-column {
      margin-top: 60px;
    }
  }

  .no-content-message {
    color: $color_font-grey;
    font-style: italic;
    margin-top: 2rem;
  }

  .or {
    display: inline-block;
    padding: 1.5em 1em;
    vertical-align: center;
  }

  .story {
    padding: 20px 0;

    &+.story {
      border-top: 1px solid $color_bg-light;
    }
  }

  .story-meta {
    color: $color_green-dark;
    font-size: $font_size-xsmall;
    font-style: italic;
    margin-bottom: $font_size-base;
  }

  .transcript {
    margin-top: 1rem;
  }

  .quote-mark {
    color: $color_green-dark;
    display: inline-block;
    font-size: $font_size-large;
    font-style: italic;
    height: 0;
    top: 8px;
  }

  .video-info {
    color: $color_font-grey;
    font-size: $font_size-xsmall;
  }

  .session-info {
    margin-left: 3.2rem;
  }

  .session-info.recording {
    animation: blinking 1s infinite;
    color: $color_red-medium;
  }

  .button-wrapper {
    @extend ._clear;
  }

  .left-buttons {
    float: left;
  }

  .right-buttons {
    float: right;
  }

  .story-form-wrapper {
    h4 {
      color: $color_font-grey;
      font-weight: 400;
    }

    .question {
      input[type="radio"] {
        display: none;
      }

      label {
        background-color: $color_bg-grey;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 10px 20px;
      }

      input[type="radio"]:checked+label {
        background-color: $color_green-medium;
      }
    }

    .form-break {
      color: $color_font-grey;
      display: flex;
      font-size: $font_size-small;
      margin: $font_size-base 0;

      &::before,
      &::after {
        background: $color_bg-dark;
        content: '';
        display: inline-block;
        flex: 1 1;
        height: 1px;
        margin: auto $font_size-base;
        position: relative;
        width: auto;
      }
    }

    .text-response {
      textarea {
        min-height: 200px;
        width: 100%;
      }
    }
  }
}
