.tags {
  border: 1px solid rgb(54, 54, 136);
  width: 40%;
}

.tags__header {
  color: red;
}

.tags__selectors {
  border: 1px solid rgb(19, 202, 226);
}

.tags__selector {
  border: 1px solid rgb(19, 202, 226);
  width: 7rem;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 2px;
}

.tags__selector-content-type {
  background-color: lightgray;
}

.tags__selector-topic-area {
  background-color: gray;
}

.tags__selector-unselected {
  background-color: lightgray;
}
    
.tags__selector-selected {
    background-color: lightgreen;
  }

.tags__selector:hover {
  background-color: pink;
}
