<a class="action-areas-recommendations__grid-container" href="/announcements/17">
    <%= image_tag("recommendations/climate-1.jpg", alt: t("A vehicle navigating flood waters")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Prepare for and respond to the threats of climate change</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/18">
    <%= image_tag("recommendations/climate-2.jpg", alt: t("Solar panels")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Accelerate the transition to a clean energy future</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/19">
    <%= image_tag("recommendations/climate-3.jpg", alt: t("A deck over a bay of parked boats")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Address regional water challenges</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/20">
    <%= image_tag("recommendations/climate-4", alt: t("An aerial view of billowing fumes from factories")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Decarbonize the building and transportation sectors</p>
    </div>
</a>