<div class="action-areas-sidebar__section">
    <p class="action-areas-sidebar__title">Artist’s Eye</p>
    <%= image_tag("artist-image.png", class: "logo", alt: t("placeholder")) %>
    <li><a class="action-areas-sidebar__link" href="">Artist: John Doe</a></li>
</div>
<div class="action-areas-sidebar__section">
    <ul>
        <p class="action-areas-sidebar__title">Related Goals</p>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-climate-resilient-region">A Climate Resilient Region</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-net-zero-carbon-region">A Net Zero Carbon Region</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-healthy-environment">A Healthy Environment</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__section">
    <ul>
        <p class="action-areas-sidebar__title">Related Research and Tools</p>
        <li><a class="action-areas-sidebar__link" href="">How We See It: Climate Mitigation & Resiliency</a></li>
        <li><a class="action-areas-sidebar__link" href="">Hidden in Plain Sight: Impacts of E-Commerce in Massachusetts</a></li>
        <li><a class="action-areas-sidebar__link" href="https://zoningatlas.mapc.org/">Zoning Atlas</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__button">
    <a href="" target="_blank">Download PDF Version</a>
</div>